<%= link_to 'Edit This Player', edit_admin_player_path(@player)%> <br>
<hr>
First Name: <%= @player.firstname %><br>
Last Name: <%= @player.lastname %><br>
Email Address: <%= @player.emailaddress %><br>

<hr>
<h1>Characters</h1>
<hr>
<%= link_to 'Add Character', new_admin_character_path %>
<hr>
<table border = 1>
<tr>
    <th>Name</th>
    <th>Race</th>
    <th>Class</th>
</tr>
<% @player.characters.each do |character| %>
    <tr>
      <td><%= link_to character.name, admin_character_path(character) %></td>
      <td><%= character.race.name %></td>
      <td><%= character.characterclass.name %></td>
    </tr>
  <% end %>

  </table>