<%= link_to 'Delete This Player', admin_player_path(@player), method: :delete, data: { confirm: 'Are you sure?' } %> <br>
<%= link_to 'Edit This Player', edit_admin_player_path(@player)%> <br>
<hr>
First Name: <%= @player.firstname %><br>
Last Name: <%= @player.lastname %><br>
Email Address: <%= @player.emailaddress %><br>

<hr>
<h1>Characters</h1>
<hr>
<%= link_to 'Add Character', new_admin_character_path %>
<hr>
<table border = 1>
<tr>
    <th>Name</th>
    <th>Race</th>
    <th>Class</th>
    <th>Controls</th>
</tr>
<% @player.characters.each do |character| %>
    <tr>
      <td><%= character.name %></td>
      <td><%= character.race.name %></td>
      <td><%= character.characterclass.name %></td>
      <td><%= link_to 'View', admin_character_path(character) %> | <%= link_to 'Edit', edit_admin_character_path(character)%></td>
    </tr>
  <% end %>

  </table>