<div class="container col-11">
<div class="pagetitle"><%= @event.name %></div>
<div class="pagesubtitle" ><%= @event.description %></div>

<div class="text-center"><strong>Start Date:</strong> <%= @event.startdate %>  -to-  <strong>End Date:</strong> <%= @event.enddate %></div>

<hr>

<%= link_to 'Add User', new_admin_event_eventattendance_path(event_id: @event.id), :class => "btn btn-success btn-sm mb-2", remote: true%>
<table class="table table-hover table-bordered table-sm">
 <thead class="thead-dark">
<tr>
  <th>User Name</th>
  <th>Type</th>
  <th>Reg Date</th>
  <th>Cabin</th>
  <th>Character</th>
  <th>Level</th>
  <th>Class</th>
  <th>Edit</th>
</tr>
</thead>

<%  @event.eventattendances.each do |eventattendance| %>



  <tr class="table-light">
    <td>
      <%= link_to eventattendance.user.lastname + ', ' + eventattendance.user.firstname,  edit_admin_event_eventattendance_path(event_id: @event.id, id: eventattendance.id), remote: true %>
    </td>
    <td><%= eventattendance.registrationtype %></td>
    <td><%= eventattendance.registerdate.to_date %></td>
    <td><%= if(eventattendance.cabin) then eventattendance.cabin.name end%></td>
    <td><%= if(eventattendance.character) then eventattendance.character.name end%></td>
    <td><%= if(eventattendance.character) then eventattendance.character.level end%></td>
    <td><%= if(eventattendance.character) then eventattendance.character.characterclass.name end%></td>
    <td>
      <%= link_to edit_admin_event_eventattendance_path(event_id: @event.id, id: eventattendance.id), remote: true do 
        fa_icon "edit"
      end
      %>
      <%= link_to admin_event_eventattendance_path(user_id: eventattendance.user_id, event_id: @event.id), method: :delete, data: { confirm: "Are you sure?" } do %>
        <%= fa_icon "trash" %>
      <% end %>
    </td>
  </tr>
<% end %>

<div class="modal fade" id="addUserToEventModal" tabindex="-1" role="dialog" aria-labelledby="addUserToEventModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserToEventModalLabel">Add User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> 
      <div class="modal-body"></div>
    </div>
  </div>
</div>
