<h2>Edit Profile</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
  <%= f.text_field :firstname, autocomplete: "given-name", label: 'First Name', required: true %>
  <%= f.text_field :lastname, autocomplete: "family-name", label: 'Last Name', required: true %>

  <%= f.password_field :current_password, autocomplete: "current-password", label: 'Current Password' %>
  <p class = 'text-info'><i>We need your current password to confirm your changes</i> </p>
  <hr>

  <div id='change_password', class='d-none bg-light p-2'>
    <%= f.password_field :password, autocomplete: "new-password", label: 'New Password' %>
    <p class = 'text-info'><i>Leave blank if you do not want to change it</i><br /></i> </p>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", label: 'Confirm New Password' %>
  </div>
  <a onClick="showPassword()", id='change_password_link', class="text-danger">Update Password</a>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :root %>

<script>
  function showPassword() {
    document.getElementById("change_password").classList.remove('d-none');
    document.getElementById("change_password_link").classList.add('d-none');
  }
</script>
