<%= link_to 'Add Skill', new_admin_user_character_characterskill_path(user_id: @character.user_id, character_id: @character.id), remote: true %>
<table border = 1>
<tr>
    <th>Name</th>
    <th>Count</th>
    <th>Tier</th>
    <th>Group</th>
    <th>Rest Type</th>
    <th>Incant</th>
    <th>Description</th>
    <th></th>
</tr>
<% @character.characterskills.select("skill_id").group("skill_id").each do |characterskill| %>
    <tr>
      <td><%= characterskill.skill.name %></td>
      <td><%= @character.characterskills.select("skill_id").group("skill_id").count[characterskill.skill_id] %></td>

      <td><%= characterskill.skill.tier %></td>
      <td><%= characterskill.skill.skillgroup.name %></td>
      <td><%= characterskill.skill.resttype.name %></td>
      <td><%= characterskill.skill.incant %></td>
      <td><%= characterskill.skill.description %> </td>
      <td>
        DELETE GO HERE
      </td>
    </tr>
  <% end %>
  </table>



  <div class="modal fade" id="characterSkillModal" tabindex="-1" role="dialog" aria-labelledby="characterSkillModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="characterSkillModalLabel">Add Experience</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> 
      <%= render partial: 'admin/modals/addskill', locals: {characterskill: @characterskill, pathurl:  admin_user_character_characterskills_path(user_id: @character.user_id, character_id: @character.id)} %>
    </div>
  </div>
</div>