<div class="container col-11">
<div class="pagetitle">Event Attendance</div>
<div class="pagesubtitle" >A Record of All Events Attended</div>

<table class="table table-striped table-bordered table-sm ">
<thead class = 'thead-dark'>
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Date</th>
    <th>Going As</th>
    <th>Meal Plan</th>
    <th>Character</th>
</tr>
</thead>
<tbody>
<% current_user.eventattendances.joins(:event).order('startdate desc').each do |eventattendance| %>
    <tr class="table-light">
      <td><%= eventattendance.event.name %></td>
      <td><%= eventattendance.event.description %></td>
      
      <td><%= eventattendance.event.startdate %></td>
      <td><%= eventattendance.registrationtype %></td>
      <td><%= eventattendance.mealplan %></td>
      <td>
        <%= if (eventattendance.character && eventattendance.event.startdate < Time.now) then
          eventattendance.character.name 
        elsif (eventattendance.character && eventattendance.event.startdate > Time.now and eventattendance.registrationtype == 'Player') then
          link_to eventattendance.character.name, player_changeeventcharacter_path(:eventattendance_id => eventattendance.id), remote: true
        elsif (eventattendance.event.startdate > Time.now and eventattendance.registrationtype == 'Player') then
          link_to 'Assign Character',player_changeeventcharacter_path(:eventattendance_id => eventattendance.id), remote: true
        end
   
         %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div id='changeEventCharacterDiv'>
  <%= render partial: 'player/modals/changeeventcharacter' %>
</div>