<div class="modal fade" id="updateRaceDataModal" tabindex="-1" role="dialog" aria-labelledby="updateRaceDataModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateRaceDataModalLabel">Update Race</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> 
      <div class="modal-body">
      <% if !@race.nil? %>
        <%= bootstrap_form_with(model: @race, url: race_path(id: @race.id), local: true) do |f| %>
          <%= f.text_field :name, :required => true %>
          <%= f.text_area :shortdescription, :required => true, label: 'Short Description' %>
          <%= f.select :playeravailable, [ 'true', 'false' ], :required => true %>
          <%= f.submit 'Update', class: "btn btn-primary" %>
          <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>