<%= bootstrap_form_with(model: @character, url: yield(:url), local: true) do |f| %>

<% if @character.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:
  </h2>
    <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
</div>
<% end %>

  <%= f.text_field :name, :required => true %>
  <%= f.select :pronouns, [ 'He/Him', 'She/Her','They/Them' ] %>
  
  <%= f.collection_select :race_id, Race.all.where('playeravailable = true'), :id, :name %>
  <%= f.collection_select :characterclass_id, Characterclass.all, :id, :name %>
  <div id='totemselect'>
    <%= f.select :totem, [ 'Bear', 'Lizard', 'Rat', 'Raven', 'Snake', 'Spider', 'Wolf' ] %>
  </div>


  <%= f.collection_select :deity_id, Deity.where('playeravailable = true').all, :id, :name, :include_blank => true %>
  
  <%= f.submit 'Save Character' %>
  <%= link_to 'Cancel', yield(:backurl) %>
</p>
<% end %>

<script>
$(document).ready(function(){
  formValidation()
  console.log('Test')
  $('#character_characterclass_id').change(function() {
    formValidation()
    });

function formValidation() {
  var characterclass = $('#character_characterclass_id option:selected').text()
  console.log(characterclass)
  if (characterclass == 'Druid') {
    $('#totemselect').show()
  }  else {
    document.getElementById('character_totem').selectedIndex = -1
    $('#totemselect').hide()
  }

  if (characterclass == 'Cleric') {
    $("#character_deity_id").prop('required',true);
  }  else {
    $("#character_deity_id").prop('required',false);
  }

  if (characterclass == 'Paladin') {
    $("#character_deity_id").prop('required',true);
  }  else {
    $("#character_deity_id").prop('required',false);
  }
  
}
});
</script>