<% 
if (canEdit(@character)) %>
  <%= link_to 'Edit This Character', edit_player_character_path(@character)%>
  <hr>
<% end %>
Name: <%= @character.name %><br>

Level: <%= @character.level %> 
<% if (canLevel(@character)) %>
  - <%= link_to link_to 'Level Up', player_character_levelup_path(character_id: @character.id), data: { confirm: 'Leveling up will cost ' + @exptolevel.to_s + ' exp. This is irreversible. Are you sure?'}, method: :post, remote: true %>
<% end %>
<br>

Pronouns: <%= @character.pronouns %><br>

Race: <%= @character.race.name %><br>

Class: <%= @character.characterclass.name %><br>

<% if (@character.totem) %>
  Totem: <%= @character.totem  %><br>
<% end %>

Deity: <%= if(@character.deity) then @character.deity.name end %><br>

House: <%= if(@character.house_id) then @character.house.name end %><br>

Guild: <%= if(@character.guild_id) then @character.guild.name end %><br>

<br>
Total CP: <%= (@character.level * 50) + 50 %><br>

Available CP: <%= ((@character.level * 50) + 50) - (@character.skills.sum(:tier) * 10) %><br><br>

<% if (@character.characterskills.where(skill: Skill.find_by(name: 'Favored Foe'))).count > 0  %>
  Favored Foe:  <%= @character.characterskills.where(skill: Skill.find_by(name: 'Favored Foe')).pluck('details').join(',') %> <br>
<% end %>
<% if (@character.characterskills.where(skill: Skill.find_by(name: 'Alignment Focus'))).count > 0  %> 
  Alignment Focus:  <%= @character.characterskills.where(skill: Skill.find_by(name: 'Alignment Focus')).pluck('details').join(',') %> <br>
<% end %>

<hr>
<ul class="nav nav-tabs" id="charTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="skills-tab" data-toggle="tab" href="#skills" role="tab" aria-controls="skills" aria-selected="true">Skills</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="professions-tab" data-toggle="tab" href="#professions" role="tab" aria-controls="class" aria-selected="false">Professions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="class" aria-selected="false">Events</a>
  </li>
</ul>

<div class="tab-content" id="charTabContent">
  <div class="tab-pane fade show active" id="skills" role="tabpanel" aria-labelledby="skills-tab">
    <%= render partial: 'player/characters/tabs/skills' %>
  </div>
  <div class="tab-pane fade" id="professions" role="tabpanel" aria-labelledby="professions-tab">
    <%= render partial: 'player/characters/tabs/professions' %>
  </div>
  <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
    <%= render partial: 'player/characters/tabs/events' %>
  </div>
</div>