<% if !Setting.sheets_locked %>
  <%= link_to 'Edit This Character', edit_player_character_path(@character)%><br>
  <hr>
<% end %>
Name: <%= @character.name %><br>
Level: <%= @character.level %><br>
Experience: <%= @character.explogs.where('aquiredate <= ? ', Time.now.end_of_day ).sum(:amount) %><br>
Pronouns: <%= @character.pronouns %><br>
Race: <%= @character.race.name %><br>
Class: <%= @character.characterclass.name %><br>
<% if (@character.totem) %>
  Totem: <%= @character.totem  %><br>
<% end %>
Deity: <%= if(@character.deity) then @character.deity.name end %><br>
House: <%= if(@character.house_id) then @character.house.name end %><br>
Guild: <%= if(@character.guild_id) then @character.guild.name end %><br>
<br>
Total CP: <%= (@character.level * 50) + 50 %><br>
Available CP: <%= ((@character.level * 50) + 50) - (@character.skills.sum(:tier) * 10) %><br><br>
<% if (@character.characterskills.where(skill: Skill.find_by(name: 'Favored Foe'))).count > 0  %>
  Favored Foe:  <%= @character.characterskills.where(skill: Skill.find_by(name: 'Favored Foe')).pluck('details').join(',') %> <br>
<% end %>
<% if (@character.characterskills.where(skill: Skill.find_by(name: 'Weapon Specialization'))).count > 0  %>
  Weapon Specialization:  <%= @character.characterskills.where(skill: Skill.find_by(name: 'Weapon Specialization')).pluck('details').join(',') %> <br>
<% end %>

<hr>
<ul class="nav nav-tabs" id="charTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="skill-tab" data-toggle="tab" href="#skill" role="tab" aria-controls="skill" aria-selected="true">Skills</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="explog-tab" data-toggle="tab" href="#explog" role="tab" aria-controls="class" aria-selected="false">Exp Log</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="class" aria-selected="false">Events</a>
  </li>
</ul>

<div class="tab-content" id="charTabContent">
  <div class="tab-pane fade show active" id="skill" role="tabpanel" aria-labelledby="skill-tab">
    <%= render partial: 'player/characters/tabs/skills' %>
  </div>
  <div class="tab-pane fade" id="explog" role="tabpanel" aria-labelledby="explog-tab">
    <%= render partial: 'player/characters/tabs/explog' %>
  </div>
  <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
  <%= render partial: 'player/characters/tabs/events' %>
</div>
</div>