<div class="modal-body">
  <%= bootstrap_form_with(model: @characterskill, url: pathurl) do |f| %>
    <%= f.hidden_field :character_id, value: @character.id  %>
    <%= f.collection_select :skill_id, @availableskills, :id, :name, hide_label: true %>
    <div id='favoredfoe'>
      <%= f.select :favoredfoe, options_for_select(@favoredfoes), label: 'Favored Foe' %>
    </div>
    <%= f.text_field :aquiredate, label: 'Date: (YYYY-MM-DD)'%>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>
</div>