<div class="modal-body">
<%= select_tag :professiongroup, options_for_select(@availablegroups) %>
  <%= bootstrap_form_with(id: 'profForm', model: @characterprofession, url: admin_user_character_characterprofessions_path(user_id: @character.user_id, character_id: @character.id)) do |f| %>
    <%= f.hidden_field :character_id, value: @character.id  %>
    <%= f.select :profession_id, grouped_options_for_select(@availableprofessions), hide_label: true %>
    <%= f.text_field :acquiredate, label: 'Acquire Date: (YYYY-MM-DD)'%>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>
</div>
 