<div class="modal-body">
  <%= bootstrap_form_with(model: @explog, url: pathurl, local: true) do |f| %>
    <%= f.select :name, [
      'Adjustment', 'Donation', 'Event', 'Feedback Letter', 'Level Up', 'Profession Purchase', 
      'Referral', 'Season Pass', 'Skill Refund',  'Go Big Bonus', 'Setup/Take Down', 'Volunteer' 
      ], label: 'Type', :required => true %>
    <%= f.text_field :description, :required => true %>
    <%= f.text_field :acquiredate, :required => true, label: 'Date: (YYYY-MM-DD)'%>
    <%= f.text_field :amount, :required => true %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>
</div>