<table border = 1>
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Date</th>
    <th>Going As</th>
    <th>Character</th>
</tr>
<% current_user.eventattendances.joins(:event).order('startdate desc').each do |eventattendance| %>
    <tr>
      <td><%= eventattendance.event.name %></td>
      <td><%= eventattendance.event.description %></td>
      
      <td><%= eventattendance.event.startdate %></td>
      <td><%= eventattendance.registrationtype %></td>
      <td>
        <%= if (eventattendance.character && eventattendance.event.startdate < Time.now) then
          eventattendance.character.name 
        elsif (eventattendance.character && eventattendance.event.startdate > Time.now and eventattendance.registrationtype == 'Player') then
          link_to eventattendance.character.name, edit_player_eventattendance_path(eventattendance), remote: true
        elsif (eventattendance.event.startdate > Time.now and eventattendance.registrationtype == 'Player') then
          link_to 'Assign Character', edit_player_eventattendance_path(eventattendance), remote: true
        end
   
         %></td>
    </tr>
  <% end %>
  </table>

<div class="modal fade" id="addCharacterModal" tabindex="-1" role="dialog" aria-labelledby="addCharacterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCharacterModalLabel">Add Character To Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> 
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
