<table border = 1>
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Acquire Date</th>
    <th>Amount</th>
    <th>Granted By</th>
</tr>
<% current_user.explogs.where('acquiredate <= ?', Time.now).each do |explog| %>
    <tr>
      <td><%= explog.name %></td>
      <td><%= explog.description %></td>
      <td><%= explog.acquiredate.to_date %></td>
      <td><%= explog.amount %></td>
      <td><%= explog.grantedby.firstname + ' ' + explog.grantedby.lastname%> </td>
    </tr>
  <% end %>
  </table>