<%= form_with(model:@player, url: playeradmin_path, local: true) do |form| %>

<% if @player.errors.any? %>
<div id="error_explanation">
<h2>
        <%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:
      </h2>
      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    </div>
  <% end %>


    <p>
        First Name <%= form.text_field :firstname %>
    </p><p>
        Last Name <%= form.text_field :lastname %>
     </p><p>
        Email Address <%= form.text_field :emailaddress %>
    </p><p>
        Player Type <%= form.select :playertype, [ 'Player','Cast' ], :prompt => 'Player Type' %>
    </p><p>
        <%= form.submit 'Save Player' %>
        <%= link_to 'Cancel', playeradmin_path %>
    </p>
<% end %>