ADMIN!
<%= link_to 'Delete This Player', playeradmin_path(@player), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit This Player', edit_playeradmin_path(@player)%>
<%= link_to 'Back', playeradmin_index_path %>
<hr>
First Name: <%= @player.firstname %><br>
Last Name: <%= @player.lastname %><br>
Email Address: <%= @player.emailaddress %><br>

<h1>Characters</h1>