<div class="container col-12 mt-4 mb-2" id="mythologypage">
  <div class="row">
    <div class="container col-12">
      <%= image_tag("pages/mythology/mythology-header.jpg", :class => "mx-auto d-block") %>
    </div>
  </div>
  <div class="row">
    <div class="container col-12">
      <p>Long ago, Hyraeth came into being under the guidance of nine deities. Each of these deities rules
        over a set of domains and utilizes them to shape and influence the world.</p>
      <p>Collectively, these deities are known as Ennead Lumenari. Most Hyraethians worship all of them,
        calling upon them individually to suit the petitioner’s prayers. A sailor will pray to Ororo for calm
        seas, a miner will pray to Ixbus for a good day at the market, or a mother will pray to Ryknos for her
        son at war.</p>
      <p>When needing the services of a layperson, Hyraethians will travel to the nearest house of worship.
        It is here they may seek spiritual and social assistance in a place where all the Deities are represented
        equally.</p>
      <p> Worship of the Deities in Hyraeth is highly personal. The Devoted make it their goal in life to serve
        their Deity. Your average Hyraethian does not participate in a church or organization, preferring to
        pray on their own.</p>
      <p>Paladins, Clerics, and especially devout people may choose to follow a single Deity. Upon making
        this choice, the Devoted will often select a sect that caters to their worship style. It is here that
        churches and organizations form, each with individual missions, but all carry out the will of their
      Deities.</p>
      <p>The Deities of Hyraeth do not exert influence over the world and its subjects directly. Instead, Deities
        share their gifts to the world through their followers, miracles, and items of great power. Each
        Deity has preferred ways of appearing that must be kept in mind to avoid missing vital signs.</p>
    </div>
  </div>

  <div class="row">
    <div class="container col-12 mt-2" id="DeityLink">
      <a id="AdaraLink" href="./mythology">
        <div>
          <i class="fas fa-plus"></i>&nbsp;Adara: Goddess of Light, Truth, and Law
        </div>
      </a>
    </div>
  </div>
  <div class="row" id="DeityPreview">
    <div class="container col-3">
      <%= image_tag("/images/deitytoken/adara.gif", :class => "img-fluid mx-auto d-block") %>
    </div>
    <div class="container col-9">
      <p>Adara is the goddess of justice and fairness. Her followers represent the inner light of Hyraeth,
        earning all that she rewards through their devotions and tenets. Adara promises her followers their
        day in the sun, lighting the way towards glory, triumph, and truth.</p>

      <h4>Holy Symbol</h4>
      <p>A gold coin emblazoned with an image of the sun.</p>

      <h4>Depictions</h4>
      <p>Adara is depicted as a beautiful woman with white robes, bright flowing
        hair, and a peaceful smile. She is often seen holding a set of scales
        that represent justice and balance.</p>

      <h4>Domains & Representation</h4>
      <ul>
        <li>Law, Justice, and Fairness.
        <li>Inner Light, Glory, Triumph, Simple Pleasures, Tradition, and Truths.
        <li>Universal Truths; Science, Math, and Law; Truths in the physical realm.
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="container col-12" id="AdaraDetails">
      <h4>Religious Custom</h4>
      <p>When making choices, it is customary to say, “May Adara’s Light guide my path” and look to the sky.
        These choices can be as simple as deciding what to wear or more challenging ones such as passing
        judgment.</p>

      <h4>Holy Day - All Truths Day</h4>
      <p>On the first Swordsday of Greatsun, Adara’s Light pierces the heart of all who follow her. On this
        day, Adara shatters the shadows that cover our hearts and cause us to hide our true feelings from
        those we love. It is customary on All Truths Day to bear your truths to the loved ones in your life,
        without fear of reprisal, so that the year ahead is free from the weight of a repressed heart.</p>
      
      <h4>Everyday Religious Practice</h4>
      <p>Followers of Adara often wake early to pray to the rising sun. These prayers vary from person to
        person but typically focus on blessings for the day ahead.</p>
      
      <h4>Religious Artifact - The Scales of Righteous Heart</h4>
      <p>Adara has little patience for disputes which happen outside of the law. In conflicts of the heart, the
        ritualist could cut both men’s hearts and place them on this scale. The weight of the defiled heart
        would sink in sorrow lifting the righteous one above. It is then the defiled heart would burn away to
        suffer in Dedrot’s realm for all eternity.</p>
      
      <h4>Religious Figure</h4>
      <p>Adara may have several religious figures at any given time. One of the most notable religious figures
        of our time is Sir Getorix Wahl of Cantara. He is the Anointed of Adara, following the disappearance
        of the previous Anointed, Dame Hazel Landon.</p>
      
      <h4>Followers of Adara</h4>
      <ul>
        <li>Tend to be natural leaders with a talent for hierarchy, organization, and structure. They strive to
          create harmony and peace amid crisis by bringing Adara’s tenets into the field.
        <li>Favor objective truth, logic, and structure. Adaran rituals, rites, and traditions remind the community
          of these values, their shared identity, and the religious structure that gives their lives order
          and meaning.
        <li>Revel in “The Light of Adara.” Hers is a light of the truth that may illuminate even the darkest of
          times or the most profound secrets.
        <li>Like Adara, her Followers can be stubborn and hidebound. She favors community over individuality,
          with a focus on Tradition.
        <li>At their worst, they may be too rational and factual, or too optimistic. There is a tendency to
          say truths at the cost of feelings.
      </ul>
      
      <h4>Sects</h4>
      <ul>
        <li><b>Scholars of the Sun</b>: Academics, researchers, philosophers, and theologians. Some of the most
          gifted scientists and healers.
        <li><b>Truth Bearers</b>: Leaders, diplomats, or advisors. Anyone who recognizes the importance of objective
          truth and structure in society.
        <li><b>Justicars</b>: Paladins of Adara. Among Hyreaths’s most skilled and disciplined fighters, Justicars are
          tasked with the arduous task of bringing in fugitives to face the justice of the court or bring justice
          to them.
        <li><b>Scale Bearers</b>: Judges, advocates, magistrates, and investigators focused on law and order. Scale
          Bearers believe that justice is blind and open only to objective fact. They strive to learn the truth
          and are not particularly concerned with emotions.
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="container col-12 mt-2" id="DeityLink">
      <a id="AmitelLink" href="./mythology">
        <div>
          <i class="fas fa-plus"></i>&nbsp;Amitel: God of Arcane Magics, Rituals, & Knowledge
        </div>
      </a>
    </div>
  </div>
  <div class="row" id="DeityPreview">
    <div class="container col-3">
      <%= image_tag("/images/deitytoken/amitel.gif", :class => "img-fluid mx-auto d-block") %>
    </div>
    <div class="container col-9">
      <p>Amitel is studious and reflective. He seeks to discover the secrets of the Arcane -- the tenuous magic
        that permeates our world, and that gave birth to him. Prone to talking to himself and suddenly
        shouting out revelations, Amitel bends Arcane energy to his will.</p>

      <h4>Holy Symbol</h4>
      <p>A white disc with a blue and purple swirl of Arcane energy in the center.</p>

      <h4>Depictions</h4>
      <p>Amitel is depicted as a disembodied eye with surges of Arcane energy
      w here an iris should be. He is an endless thread of light serving as
        a guide within an ever-shifting labyrinth.</p>

      <h4>Domains & Representation</h4>
      <ul>
        <li>Arcane Magic, Rituals, and Knowledge.
        <li>Doorways, Corridors, and Thresholds; what lies unknown beyond them.
        <li>The Physical Sciences, Medicine, and alchemical processes.
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="container col-12" id="AmitelDetails">
      <h4>Religious Custom</h4>
      <p>Followers believe knowledge can be found anywhere and at any time. The devout carry a tome they
        call a Chronicle. Here they record their experiences and knowledge. A Chronicle is typically blue or
        purple and adorned with his symbol.</p>

      <h4>Holy Day - Almanac Day</h4>
      <p>Greatsun 21st, the longest day of the year within a month of great mental focus, is an opportunity
        to absorb the last year’s collected knowledge. Followers pause to reflect on what they’ve learned in
        the past year and contemplate what remains. They then purge their journals and add their research
        and observations to their grimoires and libraries.</p>
      
      <h4>Everyday Religious Practice</h4>
      <p>Followers meditate in a tranquil location in a comfortable position, arms gently crossed or resting
        in front of them with palms open facing up. They enter the trance using rhythmic sounds, such as
        timed snaps or chiming bells. Once rooted in a trance, their arms can be relaxed until the sound
        repeats, signifying completion.</p>
      
      <h4>Religious Artifact - The Thousand Facets of Amitel</h4>
      <p>Blue or purple double terminated crystals, often fluorite or amethyst. These are prepared with
        alchemical or arcane processes varying with the individual. When charged with arcane power, they
        produce a spray of dazzling colors: a prism to further purify and refine the mystical forces within
        them. They can be whittled down and embedded into instruments and tools, such as quill nibs or
        scalpel blades, to obtain more precise results than regular devices.</p>
      
      <h4>Religious Figure</h4>
      <p>Lord-Proctor Venvenizel Heavyaxel, a scholar and archivist of the highest degree, resides within
        the Spires at Ivygate. A fount of knowledge, the reclusive noble is not one for fellowship or even
        conversation. It has been years since they have responded to a courier and decades since they
        have been seen. This scarcity has led some to believe they may have perished within their archives,
        hidden from the outside world.</p>
      
      <h4>Followers of Amitel</h4>
      <p>Live their lives intensely and with conviction, knowing that life is too short for ambiguity. Seekers of
        knowledge, grand researchers, fierce mages, and all those with a knack for things Arcane are drawn
        to Amitel.</p>
      
      <h4>Sects</h4>
      <ul>
        <li><b>Path of Arcane Magic, Arcane Weavers</b>: Virtues: Dynamic, Quick Thinking, Tactical Battle Mages,
          Wizards, Rangers. Seek to control the Arcane, turning words of power into a flurry of magical bolts
          or a powerful shield. A path leads to adventures, brawls, or gaining dangerous knowledge by the
          skin of one’s teeth. Quick on their feet and even faster on the draw, proving that even the bookworms
          have teeth.
        <li><b>Path of Knowledge, Scholars</b>: Virtues: Calm, Dedicated, Wise.
        <li><b>Priests, Mentalists, Tinkerers</b>: Delving into rotted libraries or infested catacombs, they find
          themselves face to face with the most profound truths of this universe while immersed in the
          Arcane. The hard part is deciding how to use their knowledge.
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="container col-12 mt-2" id="DeityLink">
      <a id="DedrotLink" href="./mythology">
        <div>
          <i class="fas fa-plus"></i>&nbsp;Dedrot: Deity of Death, Grief, and Sacrifice
        </div>
      </a>
    </div>
  </div>
  <div class="row" id="DeityPreview">
    <div class="container col-3">
      <%= image_tag("/images/deitytoken/dedrot.gif", :class => "img-fluid mx-auto d-block") %>
    </div>
    <div class="container col-9">
      <p>Dedrot is the guardian of the dead represented by the number five for the Five Fingers of Dedrot.
        Despite what some may believe, Dedrot has the highest disdain for necromancy. The grander
        Temples consider Dedrot to be without gender and refer to the deity with neutral pronouns. Some
        races are known to depict or refer to Dedrot otherwise. Dale Elves describe Dedrot as a man and
        Enoon’s counterpart. Among the Sukh, the deity’s gender varies based on your caravan.</p>

      <h4>Holy Symbol</h4>
      <p>A skull on a black field.</p>

      <h4>Depictions</h4>
      <ul>
        <li>A shadowy figure enshrouded in a dark cloak bearing a lantern in one hand and a scythe in the other.
        <li>A vulture
      </ul>

      <h4>Domains & Representation</h4>
      <ul>
        <li>Death, Grief, Sacrifice, Dawn & Dusk.
        <li>Fortune Telling, Mediumship, and Memory.
        <li>All things associated with Death, including after-death rituals.
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="container col-12" id="DedrotDetails">
      <h4>Religious Custom</h4>
      <p>Honoring the dead and those soon to die. The practices of Dedrot include tidying graveyards, tending
        to the dying, arranging death rites, and even organizing funerals or pyres if there is no family to
        do so.</p>

      <h4>Holy Day - Hallowtide</h4>
      <p>Beyond the entertainment and frights, Hallowtide is a time to celebrate the bringing of winter and
        necessary stillness. Followers pay their respects to ancestors with candles and shrines built with
        windows to guide their spirits home. They construct and maintain communal altars at local graveyards,
        where they share offerings of harvests, wine, bones from large hunts, and portions of their
        Hallowtide suppers. These altars stand until the first thaw.</p>
      
      <h4>Everyday Religious Practice - Burdens and Sacrifices</h4>
      <p>Followers don heavy jewelry of dark or clear stones to remind themselves of their duties to Dedrot.
        They may add charms or engravings representative of their chosen sect. They often make sacrifices
        of food and drink.</p>
      
      <h4>Religious Artifact - Dedrot’s Gauntlet</h4>
      <p>While many imitations exist, ranging from black silk gloves to actual gauntlets forged of dark metal,
        the Gauntlet of Dedrot is an artifact of unknown power representing the Five Fingers. While its
        current location is unknown, rumors place it in a subterranean crypt somewhere on the continent
        of Wayland.</p>
      
      <h4>Religious Figure</h4>
      <p>In each sect, there are a select few known for their prowess and willingness to lead. The community
        has recognized these individuals: Reaper Arius Lyon, Sower Hekar Steepe, Speakers Mora and Mirya
        Carlyle, Undertaker Thana Smythe, and the Hound Yama.</p>
      
      <h4>Followers of Dedrot</h4>
      <p>Solitary and sometimes nomadic. Each family, country, and race’s mourning customs vary, so there
        are many small, scattered cults and churches. These groups are often made up of morticians, gravediggers,
        and even healers. Those who follow Dedrot may also join one of the five sects known as
        the Five Fingers of Dedrot.</p>
      
      <h4>Sects</h4>
      <ul>
        <li><b>Reapers</b>: Also known as Death’s scythes, their leaders commune with Dedrot through ritual and
          are tasked with killing whomever he mentions. They are an illegal sect, due to their violent nature.
          Whoever dies at their hands is considered a “chosen one” that is chosen by Death.
        <li><b>Sowers</b>: Emphasize the quality of life. Heal those who they deem unfit for Death, and ease the
          passing of those unfit for life. Value quality of life, and are well versed in pregnancy, elder care,
          child care, and especially diseases. They are attracted to blights, impoverished areas, war zones,
          and areas where death is most likely.
        <li><b>Speakers</b>: Can hear the whispering of the dead. Act out the will of the spirits who have passed
          beyond, whether by choice or by force. “Speaker” also refers to individuals born with the ability
          to commune with the dead. Those without proper training attract spirits or perform actions while
          possessed. To avoid this, monks from the Speaker sect roam in search of those with their abilities.
        <li><b>Hounds</b>: Preserve the cycle of life, culling Reapers, Speakers, or Undertakers who get out of
          control. Physically guard graveyards alongside Undertakers who ward against raising. Day to day,
          they hunt down mad or possessed Speakers and necromancers. Since they purge corruption in
          other sects, their relationships with them can be tense at times.
        <li><b>Undertakers</b>: Fight necromancy with a “fire fights fire” approach. Take control of the undead to
          fight waves of mindless undead that pour out where veils are thin and manage graveyards. Interacting
          with undead can touch the mind, so many Undertakers work with the Speaker Sect to keep
          control of themselves.
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="container col-12 mt-2" id="DeityLink">
      <a id="EnoonLink" href="./mythology">
        <div>
          <i class="fas fa-plus"></i>&nbsp;Enoon: Goddess of Nature, Life, and the Seasons
        </div>
      </a>
    </div>
  </div>
  <div class="row" id="DeityPreview">
    <div class="container col-3">
      <%= image_tag("/images/deitytoken/enoon.gif", :class => "img-fluid mx-auto d-block") %>
    </div>
    <div class="container col-9">
      <p>All nature is a gift from Enoon, from lush forests and wilds of wonder to the succulents and vegetation
        of The Scorched Wastes. Ororo provides water, but Enoon gives life to the rivers and streams
        and other elemental habitats. Enoon is life but remains neutral in the affairs of living things.</p>

      <h4>Holy Symbol</h4>
      <p>Green or red leaf, showing when the follower had first answered Enoon’s call.</p>

      <h4>Depictions</h4>
      <ul>
        <li>Enoon is depicted as a motherly figure in leafy greens and browns, surrounded by images of flora and fauna.
        <li>A tree with numerous human and animal faces carved in the bark.
      </ul>

      <h4>Domains & Representation</h4>
      <ul>
        <li>Nature, Life, and Seasons.
        <li>Fertility, Birth, Growth, and the Release of Life.
        <li>Feminine Energy and Controlled Change.
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="container col-12" id="EnoonDetails">
      <h4>Religious Custom</h4>
      <p>Followers find solace in growing small gardens and give seedlings to neighbors to bring Enoon’s
        blessing to their new home.</p>

      <h4>Holy Day - The Day of Growth</h4>
      <p>To honor the Spring after the cold death of winter, the Phyllotaks perform the rites for presenting
        inventions and new solutions to problems.</p>

      <h4>Holy Day - The Night of Clearing</h4>
      <p>During a winter night of music and fire, the Pyrophytes perform the rites for embracing the necessity
        of death and letting go of what has ended.</p>
      
      <h4>Everyday Religious Practice</h4>
      <p>Looking for symbols of nature during travels to find guidance from the goddess. Seeing butterflies
        on the trail or a single flower blooming in desolate soil signals that Enoon has great blessings in
        store for you.</p>
      
      <h4>Religious Artifact - The Arbor Pulse</h4>
      <p>Also known as Enoon’s Knot, this decorative tree is sculpted from metal and crystal and gifted to
        Enoon. The color of the crystals changes depending on the season. Like the many strands of intertwined
        metal that make up the bauble, it possesses the power to hold harmful spirits within a prison
        of twisting ivy and thorns. The banishing knotwork can act as a temporary prison for the most
        fearsome creatures.</p>
      
      <h4>Religious Figure</h4>
      <p>Known as The Willow Witch, The Lady of the Pines, or The Verdant Maid, she is a fairytale witch
        blessed with Enoon’s grace. She is sought out for everything from love potions and fertility charms
        to poisons and plagues. Children’s’ games convey the frightening truth; one can never be sure if she
        will react with benevolence or malevolence.</p>
      
      <h4>Followers of Enoon</h4>
      <p>Four tenets describe nature, and as a result, Enoon. They are broad in application and meaning,
      and their interpretation is frequently discussed:</p>
      <ul>
        <li>Time leads to growth; Nature always reclaims.
        <li>The balance of all is vital; Nature keeps a balance.
        <li>Life and death are inevitable; Neither is good nor evil.
        <li>All beings are equal bearers of life and death.
      </ul>
      
      <h4>Sects</h4>
      <ul>
        <li><b>Ploverian</b> (ploh-VEER-ee-ahn): Fragility versus Raw Power. Strategists, leaders, merchants, and
          those who give wise counsel. They see the world by way of who has power and who does not.;
          who should have power and who should not; and when to step in and influence the balance.
          Good organizers, capable of seeing people’s abilities and creating groups that work well together.
          Operate well within government and politics. Attend to the fragility and power of all creatures.
        <li><b>Phyllotak</b> (f-EYE-low-tack): Order versus Chaos. Managers of stress and mental health. They are
          innovators, looking to fix problems where they can, and ease sorrow and pain where they cannot.
          They understand nature as an intricate combination of order and chaos and finding the balance
          between what should be controlled and what should not.
        <li><b>Pyrophyte</b> (PIE-row-fight): Growth versus Entanglement. Warriors, healers, farmers, and those
          of the law. Maintain the balance of growth, remembering that destruction is necessary for new
          growth. Very pragmatic, seeing life and death as natural and inevitable.
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="container col-12 mt-2" id="DeityLink">
      <a id="IxbusLink" href="./mythology">
        <div>
          <i class="fas fa-plus"></i>&nbsp;Ixbus: Deity of Commerce, Craftsmanship, & Negotiation
        </div>
      </a>
    </div>
  </div>
  <div class="row" id="DeityPreview">
    <div class="container col-3">
      <%= image_tag("/images/deitytoken/ixbus.gif", :class => "img-fluid mx-auto d-block") %>
    </div>
    <div class="container col-9">
      <p>Ixbus is competitive, ambitious, and intelligent, but also takes great joy in spreading gifts to their
        followers. The devout show their homage in many different ways, but most will have a shrine in
        their homes and a representation of Ixbus in their workplace. The pious toss a coin into a well to
        catch the attention of Ixbus, hoping that the prayer will be heard.</p>

      <h4>Holy Symbol</h4>
      <p>A metal disc embellished with a bag spilling over with currency.</p>

      <h4>Depictions</h4>
      <ul>
        <li>A coin, heads on both sides, spinning fast enough to appear to be speaking.
        <li>A roaring furnace, blazing with supernatural heat, smelling of various metals.
      </ul>

      <h4>Domains & Representation</h4>
      <ul>
        <li>Commerce, Craftsmanship, Money, and Negotiation.
        <li>Contracts, Banking, and Scribes.
        <li>All types of Occupations, Business Owning, and all types of Business Relationships.
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="container col-12" id="IxbusDetails">
      <h4>Religious Custom</h4>
      <p>Having a follower of Ixbus when new businesses open, new ledgers are begun, or a new coin minted.
        The faithful of Ixbus see the flow of commerce no different than the flow of a great river, and
        their blessings ensure that the flow of wealth always stays the course.</p>

      <h4>Holy Day - All Alms Day</h4>
      <p>15th of Snowmoot; Winter is nigh, and all coins have been counted, justice is to give back to the
        world that has given you so much. Profitable folk will choose an organization or group to help the
        less fortunate by appropriating a portion of their profits, so that they may continue to provide their
        services through the long winter months.</p>
      
      <h4>Everyday Religious Practice</h4>
      <p>Haggling is the language that Ixbus is the most fluent in, and thus followers tend to be excellent
        hagglers. At the end of every deal made, followers will declare “Equal Trade for Equal Value” to
        signal that the offers are acceptable.</p>
      
      <h4>Religious Artifact - The Covenant Quill</h4>
      <p>This item can ensure a deal will always be fulfilled. Using the Quill, one must pen the Quill’s Agreement
        within the ledger, verbatim. Upon both parties signing with the Quill, the Covenant is activated.
        Those who go against their signed word will incur the wrath of Ixbus.</p>
      
      <h4>Religious Figure</h4>
      <p>If you require any (and I do mean any) goods or services one need only meet with Madame Plum.
        Operating out of her estate in Braeburn, this master of trade can find almost anything available on
        the market. The Madame has wiped debts from those in prison in exchange for future services,
        earning her the nickname The Liberator’s Purse. The only service you will not see here is slavery, as
        it is a disgusting act to Ixbus themselves.</p>
      
      <h4>Followers of Ixbus</h4>
      <p>As ambitious as Ixbus themselves, followers of Ixbus seek the next best thing, whether it be more
        significant capital ventures, growing their businesses, or improving their craft. Nothing can stand in
        the way of a follower of Ixbus and their passion for their work.</p>

      <h4>Sects</h4>
      <ul>
        <li><b>Path of Crafting</b>: The Creators of Ixbus Virtues: Creative, Empathetic, Resilient. People Drawn to
          the Path of Crafting: Crafters, Bards, Artisans. They are channeling their Faith into creative outlets,
          striving to hone their abilities until they too can share in the Divine knowledge of Creation. That
          power which both mortals and deities share. Ixbus smiles on those that use their imagination to
          bring beautiful creations into the world.
        <li><b>Path of Commerce</b>: The Dispersers of Ixbus Virtues: Shrewd, Eloquent, Adaptable. People
          Drawn to the Path of Commerce: Merchants, Traders, Adventurers. With gilded tongues, using of
          a sharp mind, and charismatic ways to barter, those who are enchanted by the thrill of making a
          deal or finding exotic curiosities in far off corners of the world will feel the call of Ixbus.
        <li><b>Path of Wealth: The Builders of Ixbus Virtues: Relentless, Driven, Aggressive. People Drawn
          to the Path of Wealth</b>: Guild Masters, Magnates, Politicians. Aspirations to greatness, striving to
          have power over their own lives, and intentions of great success, draw those to the Path. They are
          those able to cut deals and make alliances with quick decisions while weighing the pros and cons
          in the blink of an eye.
        <li><b>Path of Prosperity</b>: The Sharers of Ixbus Virtues: Humility, Modest, Peaceful. People Drawn to
          the Path of Prosperity: Monks, Healers, Teachers. Those who have sworn a vow of poverty. They
          make sure that their communities will never know an empty stomach nor that the most vulnerable
          will ever suffer the cold. They make sure to spread that which Ixbus has gifted them believing
          that Prosperity is the flourishing success of all people.
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="container col-12 mt-2" id="DeityLink">
      <a id="NaenyaLink" href="./mythology">
        <div>
          <i class="fas fa-plus"></i>&nbsp;Naenya: Goddess of Shadow, Secrets, and Justice
        </div>
      </a>
    </div>
  </div>
  <div class="row" id="DeityPreview">
    <div class="container col-3">
      <%= image_tag("/images/deitytoken/naenya.gif", :class => "img-fluid mx-auto d-block") %>
    </div>
    <div class="container col-9">
      <p>Naenya holds the sword to her sister’s scales. She, too, is a goddess of justice. While Adara seeks
        to learn the truth, Naenya is there to carry out the sentence. It would be easy to dismiss Naenya
        as a cruel goddess; however, she tempers judgment with mercy, beyond the cold dictates of the
        law. Naenya is the goddess of a different kind of truth. The truth within the heart and mind, hidden
        below the surface and learned through intuition rather than objectivity.</p>
      <h4>Holy Symbol</h4>
      <p>A silver coin decorated with the moon.</p>
      <h4>Depictions</h4>
      <p>A striking woman with fair skin, dark hair, and intense eyes.
        Often depicted holding a sword, symbolizing judgment.</p>
      <h4>Domains & Representation</h4>
      <ul>
        <li>Shadows, Secrets, Judgment, Mercy, and Things Hidden.
        <li>Fortune Telling, Mediumship, and Memory.
        <li>Individuality, Dreams, Nightmares, Instinct.
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="container col-12" id="NaenyaDetails">
      <h4>Religious Custom</h4>
      <p>Followers of Naenya hide related symbolism within everything they do. Paintings may have a hidden
        star, a poem mentions a dark secret, or a writ of judgment tells of buried dreams.</p>

      <h4>Holy Day - Day of Great Mercy</h4>
      <p>On the second Moonday of Snowmoot, Clerics of Naenya visit nearby prisons and dungeons petitioning
        jailers to forgive the crimes of those who have been favorable during their incarceration.
        Clerics are known to attend various courts and argue on behalf of the accused, regardless of their
        crimes. Additionally, they care for the poor, feed the needy, and heal the sick.</p>
      
      <h4>Everyday Religious Practice</h4>
      <p>As a form of nightly meditation, Followers of Naenya count the many stars in the sky. This practice
        often brings them to the trance-like state in which they prefer to complete their evening prayers.</p>
      
      <h4>Religious Artifact - The Dreamer’s Diadem</h4>
      <p>An ornate crown of deeply colored gemstones, adorned with a silver moon and stars. Though it
        seems rough and uneven, the stones and adornments create mind-altering optical illusions and
        allow those without sight to travel freely to the Dream Realm.</p>
      
      <h4>Religious Figure</h4>
      <p>Naenya may seek to bless more than one Follower at a time. One of the most notable Clerics of
        Naenya is the King’s spiritual advisor, Baron Amedeo Sebastian Orsini of the Moon’s Intuition.</p>
      
      <h4>Followers of Naenya</h4>
      <ul>
        <li>Tend to care less about the letter of the law and instead follow their moral compass when passing judgment.
        <li> Hold decision-making at bay while they take the time to listen to the inner voice. Seek knowledge in 
          many facets (instinctual, supernatural, secret, of the heart) before acting.
        <li>Maintain secret traditions and rites rather than advocating community traditions. Secrets are
          passed on to them by another or come by way of visions or powerful feelings.
        <li>Often engage the world with deep wisdom, an understanding of self that resides far within.
          Strive to give outward expression to their profound inner experiences of beauty in art, performance,
          and science.
      <ul>
      
      <h4>Sects</h4>
      <ul>
        <li><b>The Moon’s Intuition</b>: Mediums, poets, dancers: anyone who sees the beauty of the night and
          tries to make it manifest. Unlike Followers of Scandelen, they seldom create works for the joy of
          others. Instead, they are outpourings of all that lie below the surface.
        <li><b>Night Guardians</b>: Embrace the dark of night, recognizing the beauty and tranquility that the
          hours of rest provides. See themselves as protectors of the night so that the peace and tranquility
          of Naenya’s realm remain undisturbed.
        <li><b>The Star’s Mercy</b>: Judges, bounty hunters, and investigators. Unlike the Truth Bearers of Adara,
          they seek Truths not hidden in plain sight. Advocate for mercy or vengeance, depending on the
          case. When advocacy fails, they may resort to jailbreaks or sabotage.
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="container col-12 mt-2" id="DeityLink">
      <a id="OroroLink" href="./mythology">
        <div>
          <i class="fas fa-plus"></i>&nbsp;Ororo: God of the Elements, Natural Disasters, and Storms
        </div>
      </a>
    </div>
  </div>
  <div class="row" id="DeityPreview">
    <div class="container col-3">
      <%= image_tag("/images/deitytoken/ororo.gif", :class => "img-fluid mx-auto d-block") %>
    </div>
    <div class="container col-9">
      <p>At the creation of the world, Ororo was born, sleeping beneath the ocean. In his dreams, he shaped
        the realms over the millennia. When other gods first laid their feet upon his land, Ororo awoke,
        furious that others had used his creation. Enoon, the goddess of Nature, greeted him warmly and
        invited him to delight in their work. In that instant, he quieted his rage for the moment. However,
        his legendary anger remained very much a part of him.</p>

      <h4>Holy Symbol</h4>
      <p>A wooden disc with the symbols of the four elements emblazoned upon it.</p>

      <h4>Depictions</h4>
      <ul>
        <li>A spinning wheel decorated with the symbols of the elements and
        surrounded by rivers of flowing primal power
        <li>A font of the elements; geysers of lightning, waterfalls of flame, a
          maw spewing forth endless vines
      </ul>

      <h4>Domains & Representation</h4>
      <ul>
        <li>The Elements (Fire, Water, Wind, Earth, & Wood).
        <li>Storms and Natural Disasters.
        <li>Conflict, Upheaval, and Extremes.
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="container col-12" id="OroroDetails">
      <h4>Religious Custom</h4>
      <p>Seafaring folk will whittle an Ororo holy symbol before their journey across the sea. They place
        them in the crow’s nest in hopes Ororo will look favorably upon their trip.</p>

      <h4>Holy Day - Banquet of the Wild Roaring Sky</h4>
      <p>The first Swordsday of Meadowrise at dusk through the following Swordsday at noon marks the
        Banquet of the Wild Roaring Sky. The elements are at their most primal during this time, and the
        skies are filled with lightning. The faithful of Ororo replace and repair lightning rods around their
        villages. It is considered an auspicious blessing to have your home or grain silo struck. While the
        most faithful fast during the daylight hours, all devoted to Ororo enjoy the nightly feasts.</p>
      
      <h4>Everyday Religious Practice</h4>
      <p>The faithful often work on a small handicraft during the evening, in homage to Ororo’s great work
        of creating the world’s shape. These crafts are commonly exchanged with those who do not worship
        Ororo, to bring his blessing to them.</p>
      
      <h4>Religious Artifact - Bones of the Storm</h4>
      <p>Long bones inscribed with glittering golden runes and adorned with conductive crystals are blessed
        and left to rest for decades in places of power. They may be steeped in the smoke of a volcano or
        buried within the rifts of a great chasm. The unique preparation on the bones allows them to withstand
        extreme forces as they collect the elements within themselves. They store massive reserves
        of elemental fury but have no inherent magical purpose.</p>
      
      <h4>Religious Figure</h4>
      <p>The wandering ascetic Eliham, a traveling monk, is considered to be one of Ororo’s most favored.
        They appear at sites of great natural disaster to shield the innocent from their deity’s wrath, saving
        many lives along their path.</p>
      
      <h4>Followers of Ororo</h4>
      <ul>
        <li>Construct temples in places of high elemental power: on mountaintops, volcanoes, deep within
          jungles and forests, on islands, and throughout deserts.
        <li>Devote themselves to one of Ororo’s primary aspects: Earth, Fire, Wind, Water, and Wood.
          Some follow multiple paths, but others may follow none at all.
        <li>Are primarily rangers and elemental mages, though many others have good reason to follow
          Ororo, such as druids. Those with occupations that rely on the weather, such as sailors and farmers,
          often pray that Ororo will grant them assistance or safety.
      </ul>
      
      <h4>Sects</h4>
      <ul>
        <li><b>The Path of Earth</b>: Virtues: Strength, Timelessness; Weapon: Hammer. Valuing the strength of
        character as much as self, many on this Path engage in manual labor. As earth is immobile and
        slow to change, these followers are slow to make decisions and be stubborn when they conclude.
        They believe being close to land will let you hear Ororo’s wisdom.
        <li><b>The Path of Fire</b>: Virtues: Passion, Ferocity; Weapon: Staff or Club. The sun burns bright, as do
          those who walk this Path. Believing that Ororo wants his will done immediately, they tend to act
          first and think later. Best to avoid conflict with these types, as they will burn until extinguished.
        <li><b>The Path of Wind</b>: Virtues: Creativity, Agility; Weapon: Sword. Carefree and perceived as careless,
          those who walk this Path value the freedom to think and act at will. They hate all restrictions,
          and they encourage others to move around rules and regulations.
        <li><b>The Path of Water</b>: Virtues: Wisdom, Secrets; Weapon: Dagger. Tend to be as still as water one
          moment, but stir like fierce rapids when disturbed. They believe Ororo’s voice is heard through
          water: streams flowing, ice cracking, and water dripping. Seek to share the Wisdom of Water, but
          are often seen as selfish and stubborn.
        <li><b>The Path of Wood</b>: Virtues: Nurturing, Sturdy; Weapon: Axe. Provide nourishment and protection
          to those in need, as forests provide shelter and food. Their priests help to manage resources
          among their people.
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="container col-12 mt-2" id="DeityLink">
      <a id="RyknosLink" href="./mythology">
        <div>
          <i class="fas fa-plus"></i>&nbsp;Ryknos: God of War, Weapons, and Strategy
        </div>
      </a>
    </div>
  </div>
  <div class="row" id="DeityPreview">
    <div class="container col-3">
      <%= image_tag("/images/deitytoken/ryknos.gif", :class => "img-fluid mx-auto d-block") %>
    </div>
    <div class="container col-9">
      <p>May look at war with distaste, but to the followers of Ryknos, it is a means to an end. Some believe
      that Naenya, one of the twin goddesses, created Ryknos to prevent everlasting peace from upsetting
      the natural balance of life in Hyraeth.</p>

      <h4>Holy Symbol</h4>
      <p>An ax crossing a hammer, a sword vertically in between, a lightning bolt in the background.</p>

      <h4>Depictions</h4>
      <ul>
        <li>Soft face with defined features. Gold, pointed, conical helm with
          a single white lens in the center. Black armor, gold decoration on
          the edges adorned with the faces of innocent souls slain in war. The
          weapon is commonly a war hammer but can shift at will.
        <li>The Knight’s Chess piece, carved out of the purest diamond, symbolizing an unbreakable will.
      </ul>

      <h4>Domains & Representation</h4>
      <ul>
        <li>War, Weapons, and Strategy.
        <li>Masculinity, Trials, and Consequences.
        <li>Fervor, Morale, Revenge, and Suffering.
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="container col-12" id="RyknosDetails">
      <h4>Religious Custom</h4>
      <pHonorable Duels are the chosen way to settle arguments but have no place on the battlefield. It is
        acceptable for those who do not worship Ryknos to turn down an Honorable Duel.</p>

      <h4>Holy Day - Remembrance Day</h4>
      <p>14th day of Mistmoot; Throughout the day, Pillars of Ryknos lead joyous activities and competitions.
        The most popular game is wrestling, though dueling is gaining momentum. Individuals come
        together to speak about those who lost their lives in war. Once night falls, the speakers become
        somber as the bonfire flames rise. Banners are given in the fire, symbolizing the lost.</p>
      
      <h4>Everyday Religious Practice</h4>
      <p>Rykonos expects to be called upon when needed rather than worshipped every day. Generals pray
        for leadership in their battle tactics or soldiers for a guided blade. Ryknos is most commonly called
        upon for duels.</p>
      
      <h4>Religious Artifact - Chessboard of Wartime</h4>
      <p>This board is not meant for idle games. During times of great conflict, whether it be war or even
        natural threats to the kingdom, the chess pieces move on their own, helping tacticians visualize
        strategies and their casualties.</p>
      
      <h4>Religious Figure</h4>
      <p>A Seer heads each Pillar, the most notable being Floquart Galleran, the Seer of Valor. To the people,
        Floquart is the ideal hero. She completed the Trials of the Bellator and then revoked her status,
        knowing her true place is to guide a single Pillar.</p>
      
      <h4>Followers of Ryknos</h4>
      <p>Like Ryknos, his followers are courageous, strategic, and steadfast. From honor duels or engaging in
        tournaments, they continuously seek the thrill of the fight. The worship of Ryknos is forged on five
        specific Pillars. Each Pillar symbolizes one aspect of war.</p>
      
      <h4>Sects</h4>
      <ul>
        <li><b>Pillar of Justice</b>: Believe that any battle should be fought on the grounds of justice, righting
          wrongdoing to someone or something. They tend to be very devoted, believing their causes are
          just. For good or bad, they will fight for the justice they feel is needed. Some travel the country
          looking for injustices or tyranny to fight against, often working in tandem with Adara’s followers.
        <li><b>Pillar of Strength</b>: Seek to fight at any time or place to prove they are the strongest fighters.
          They do not follow any rules or moral code. They are always ready for a fight, and when someone
          appears to be stronger, they will taunt them, provoking a battle to prove their superiority. This Pillar
          is often looked down upon by the other Pillars, who believe they practice nothing but savagery.
        <li><b>Pillar of Suffering</b>: Does not practice any of the active parts of war. Focusing on the aftermath
          of the war, they assist with broken families, lost homes, and starvation. The most charitable of all
          the Pillars, they come after a battle, has ravaged a town or city, bearing food, blankets, and water.
          They work hand in hand with followers of Dedrot to aid in the burial of those who are lost.
        <li><b>Pillar of Tactics</b>: Study and practice the use of tactics and strategy to win their battles. They
          research past campaigns to gain knowledge to understand both sides better, improving upon ideas
          that caused loss as well as fitting what worked to their needs. They advise battle leaders both on
          the field of battle and in the war room.
        <li><b>Pillar of Valor</b>: Those who seek glory through battle. Will fight in any dispute that will earn glory,
          honor, or recognition. Most swear allegiance to someone in power, which can grant them that
          recognition, though some act as a champion for the ordinary people.
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="container col-12 mt-2" id="DeityLink">
      <a id="ScandelenLink" href="./mythology">
        <div>
          <i class="fas fa-plus"></i>&nbsp;Scandelen: Deity of Music, Festivals, and Beauty
        </div>
      </a>
    </div>
  </div>
  <div class="row" id="DeityPreview">
    <div class="container col-3">
      <%= image_tag("/images/deitytoken/scandelen.gif", :class => "img-fluid mx-auto d-block") %>
    </div>
    <div class="container col-9">
      <p>Every festival, every work of art, and every song is a supplication to Scandelen. They dissolve rivalries
        between the other deities, by merely telling jokes or playing pranks upon them: their faithful
        follow this example. Revelry is their universal bond, and when it comes to appreciating life at the
        moment, their followers not only practice this but encourage others to do so as well, finding beauty
        and joy in all things.</p>

      <h4>Holy Symbol</h4>
      <p>A bottle of wine with grapes to the side.</p>

      <h4>Depictions</h4>
      <ul>
        <li>A youthful figure with features obscured by a mask save for their ever-present smile.
        <li>A hulking form carrying three large casks, eager to share the contents.
      </ul>

      <h4>Domains & Representation</h4>
      <ul>
        <li>Performers of all types, the messages they convey.
        <li>Festivals, Revelry, and Feasts. Brewing, and especially sharing drinks.
        <li>The beauty of living in the moment, lifting spirits, and appreciation for the good times.
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="container col-12" id="ScandelenDetails">
      <h4>Religious Custom</h4>
      <p>Toasts and dedications are routine for Scandelen’s followers. Most festivities begin and end with a
        blessing followed by an invitation for Scandelen themselves to join the table.</p>

      <h4>Holy Day - Feast of Lost Laughs</h4>
      <p>The last night of Winterwane commemorates all the days of camaraderie lost to the cold winter
        months. Though it begins a somber holiday, its celebrations often become raucous as friends spend
        the evening catching up on good cheer and sharing fellowship.</p>
      
      <h4>Everyday Religious Practice</h4>
      <p>When opening a new bottle of wine or cask of mead, it is customary for the first drink to be poured
        on the ground to commemorate all those who cannot share it for whatever reason.</p>
      
      <h4>Religious Artifact - The Decanter of Torpor</h4>
      <p>This item is one of Scandelen’s most well-known artifacts. Some say it fills itself; others that the
        user must add their own intoxicant. Anyone who drinks from it becomes instantly stupefied and
        incoherent, losing inhibitions and even their ego. Entering this state imparts prophetic wisdom, but
        also the worst hangover ever.</p>
      
      <h4>Religious Figure</h4>
      <p>The Cloister of the Vine & Mask may be Scandelen’s favorite entourage. Some say they party with
        Scandelen three nights a week. Vineyard-Master Laerethlion Threg serves as the cloister’s chief
        vintner and arch-cleric.</p>
      
      <h4>Followers of Scandelen</h4>
      <ul>
          <li>Performers, entertainers, and vintners (or drunkards)
          <li>May wear festive or elaborate masks in honor of their deity. The more ornate and elaborate the mask, the more devoted you are considered, though some wear none at all.
          <li>Generally, choose one of three “Casks” to follow when they enter the deity’s service, often taking a new name related to the cask’s values.
        </ul>

      <h4>Sects</h4>
      <ul>
        <li><b>The Cask of Cheer</b>: Common Cask Names: Joy, Mirth, Bliss. Are rarely ever seen without a smile
          upon their face. Consider it their divine mission to turn the frowns of others into smiles. Many are
          known for their skill at counsel to those who have fallen upon hard times.
        <li><b>The Cask of Capers</b>: Common Cask Names: Jinks, Spoof, Trick. Take after Scandelen with their
          love of tricks and pranks. They work to prank those who are either deserving of humiliation or
          needing to learn a lesson. Performing especially elaborate schemes to embarrass a noble that has
          done wrong, or waiting in the shadows as their targets meet a hilarious fate.
        <li><b>The Cask of Courage</b>: Common Cask Names: Brave, Valor, Gallant. Some people just need that
          push to conquer their fears, and this cask is excited to assist. They take it upon themselves to reveal
          to people their true potential. They never give up, aiming to inspire all of Hyraeth to be their
          best selves.
      </ul>
    </div>
  </div>
















</div>



<script type="text/javascript">
window.onload = function() {
  document.getElementById("AdaraDetails").style.display = "none";
  document.getElementById("AmitelDetails").style.display = "none";
  document.getElementById("DedrotDetails").style.display = "none";
  document.getElementById("EnoonDetails").style.display = "none";
  document.getElementById("IxbusDetails").style.display = "none";
  document.getElementById("NaenyaDetails").style.display = "none";
  document.getElementById("OroroDetails").style.display = "none";
  document.getElementById("RyknosDetails").style.display = "none";
  document.getElementById("ScandelenDetails").style.display = "none";

  document.getElementById("AdaraLink").onclick = function() {
    areadiv = document.getElementById("AdaraDetails");
    if (areadiv.style.display === "none") {
      areadiv.style.display = "block";
      $(this).find($(".fas")).removeClass('fas fa-plus').addClass('fas fa-minus');
    } else {
      areadiv.style.display = "none";
      $(this).find($(".fas")).removeClass('fas fa-minus').addClass('fas fa-plus');
    }
    return false;
  }
  document.getElementById("AmitelLink").onclick = function() {
    areadiv = document.getElementById("AmitelDetails");
    if (areadiv.style.display === "none") {
      areadiv.style.display = "block";
      $(this).find($(".fas")).removeClass('fas fa-plus').addClass('fas fa-minus');
    } else {
      areadiv.style.display = "none";
      $(this).find($(".fas")).removeClass('fas fa-minus').addClass('fas fa-plus');
    }
    return false;
  }
  document.getElementById("DedrotLink").onclick = function() {
    areadiv = document.getElementById("DedrotDetails");
    if (areadiv.style.display === "none") {
      areadiv.style.display = "block";
      $(this).find($(".fas")).removeClass('fas fa-plus').addClass('fas fa-minus');
    } else {
      areadiv.style.display = "none";
      $(this).find($(".fas")).removeClass('fas fa-minus').addClass('fas fa-plus');
    }
    return false;
  }
  document.getElementById("EnoonLink").onclick = function() {
    areadiv = document.getElementById("EnoonDetails");
    if (areadiv.style.display === "none") {
      areadiv.style.display = "block";
      $(this).find($(".fas")).removeClass('fas fa-plus').addClass('fas fa-minus');
    } else {
      areadiv.style.display = "none";
      $(this).find($(".fas")).removeClass('fas fa-minus').addClass('fas fa-plus');
    }
    return false;
  }
  document.getElementById("IxbusLink").onclick = function() {
    areadiv = document.getElementById("IxbusDetails");
    if (areadiv.style.display === "none") {
      areadiv.style.display = "block";
      $(this).find($(".fas")).removeClass('fas fa-plus').addClass('fas fa-minus');
    } else {
      areadiv.style.display = "none";
      $(this).find($(".fas")).removeClass('fas fa-minus').addClass('fas fa-plus');
    }
    return false;
  }
  document.getElementById("NaenyaLink").onclick = function() {
    areadiv = document.getElementById("NaenyaDetails");
    if (areadiv.style.display === "none") {
      areadiv.style.display = "block";
      $(this).find($(".fas")).removeClass('fas fa-plus').addClass('fas fa-minus');
    } else {
      areadiv.style.display = "none";
      $(this).find($(".fas")).removeClass('fas fa-minus').addClass('fas fa-plus');
    }
    return false;
  }
  document.getElementById("OroroLink").onclick = function() {
    areadiv = document.getElementById("OroroDetails");
    if (areadiv.style.display === "none") {
      areadiv.style.display = "block";
      $(this).find($(".fas")).removeClass('fas fa-plus').addClass('fas fa-minus');
    } else {
      areadiv.style.display = "none";
      $(this).find($(".fas")).removeClass('fas fa-minus').addClass('fas fa-plus');
    }
    return false;
  }
  document.getElementById("RyknosLink").onclick = function() {
    areadiv = document.getElementById("RyknosDetails");
    if (areadiv.style.display === "none") {
      areadiv.style.display = "block";
      $(this).find($(".fas")).removeClass('fas fa-plus').addClass('fas fa-minus');
    } else {
      areadiv.style.display = "none";
      $(this).find($(".fas")).removeClass('fas fa-minus').addClass('fas fa-plus');
    }
    return false;
  }
  document.getElementById("ScandelenLink").onclick = function() {
    areadiv = document.getElementById("ScandelenDetails");
    if (areadiv.style.display === "none") {
      areadiv.style.display = "block";
      $(this).find($(".fas")).removeClass('fas fa-plus').addClass('fas fa-minus');
    } else {
      areadiv.style.display = "none";
      $(this).find($(".fas")).removeClass('fas fa-minus').addClass('fas fa-plus');
    }
    return false;
  }
}
</script> 