<div class="container col-12 mt-4" id="worldsettings">
  <div class="row">
    <div class="container col-12">
      <%= image_tag("pages/setting/setting-header.jpg", :class => "mx-auto d-block") %>
    </div>
  </div>
  <div class="row">
    <div class="container col-8 mt-2">
      <center><h3>The World of Myth</h3></center>

      <p>Wayland is the main continent in the campaign setting for the Myth Live-Action Roleplaying Game. More precisely, it is a continent on the larger world known as Hyraeth (hī – ˈrā – ith).</p>

      <p>The world of Hyraeth is an ever-growing campaign setting in the Myth LARP game world. As the game progresses, information about the world continues to grow, taking players further and further into a realm filled with rich lore, forbidden secrets, and cryptic clues.</p>

      <p>What sets Hyraeth apart? Your actions shape the world around you creating local lore and legend. Your character’s exploits – good or bad – can be recorded in the history of the game, creating stories told for years to come. Myth is your chance to make a difference and be remembered.</p>
    </div>
    <div class="container col-4 mt-2">
      <a href='https://inkarnate.com/m/B3b77Z--world-of-hyraeth/', target='_blank'>
        <%= image_tag("pages/setting/map.jpg", :class => "mx-auto") %>
      </a><br>
      <p class = "small font-italic">Click the map for more details</p>
    </div>
  </div>
  <div class="row">
    <div class="container col-12 mt-2" id="regionheader">
      <%= image_tag("pages/setting/cantara.gif", :class => "mx-auto d-block") %>
    </div>
  </div>
  <div class="row">
    <div class="container col-8 mt-2" id="regioninfo">
      <p>The Kingdom of Cantara has existed for nearly 1,500 years under the rule of Marielle family. It begins with its capital city of Braeburn and stretches northward to the boundaries of the Northern Kingdoms between the Frozen Bluffs on the east and the Vloh’s Highlands on the west.  Cantara also lays claim to a series of large islands that create the boundary for Deepwater Sound. This series of islands expand from town growing town of Oakstar Beacon to bustling city of Calendor found at the base of the Valda peninsula. Cantara has 241 active castles and 93 ruined. Of these, 193 castles dot the eastern shores of Deepwater Sound and 66 ruined are along the northern portions of Moonfell Wood. The Lonely Isles house another 48 castles and 27 ruined dispersed amongst them.The Kingdom is currently ruled by his Highness, Markel Marielle, who has been one of the most respected leaders of the family in many generations. While his motivation has been unclear, King Marielle continues to use diplomacy in an effort to extend the reach of his kingdom into the Freelands where he desires to lay claim to the territories along the southern shores of The Sea of Trath to the Overwatch peaks.</p>
      <p>The symbol of Cantara is a crowned lion with the words honor, virtue, and ferocity embedded in the crown.</p>
    </div>
    <div class="container col-4 mt-2" id="regionslideshow">
      Slideshow goes here
    </div>
  </div>
  <div class="row">
    <div class="container col-12 mt-2" id="AreaLink">
      <a id="CantaraAreaLink" href="./setting">
        <div>
          <i class="fas fa-plus"></i>&nbsp;Places in the Kingdom of Cantara
        </div>
        </a>
      
    </div>
  </div>
  <div class="row">
    <div class="container col-12" id="CantaraAreas">
      <p class="areaname">BRAEBURN</p>
      <p class="areadescription">The capital city of Braeburn was built southwest of Murk Lake along the shores of Deepwater Sound. This growing metropolis and port city is a melting pot to numerous races found throughout the realm that have left their mark not just on the city’s history, but also on its identity. This multicultural distinctiveness comes in the form of hundreds of ethnic markets and stands offering something to suite the taste of everyone. Despite its size, Braeburn is considered to be one of the cleaner cities in the realm thanks to the diligence of its citizens and consistent enforcement by its knight army, The Red Oath.</p>
      
      <p class="areaname">ALDFAIR</p>
      <p class="areadescription">Formed on the eastern side of The Narrow Bay, the town of Aldfair was once a magnificent place with ebony wood rooftops, granite walls, and luscious gardens. It most notable feature is The Barrel and Amulet Tavern that has had a variety of owners over the years due to the struggling economy there. Most folk support themselves with leatherwork and hunting, but their biggest strength was once the farming of a rare crop known as white root. Many years ago a blight killed the uncommon crop and it never truly recovered.</p>
      
      <p class="areaname">AVENTINE</p>
      <p class="areadescription">This small fishing town rests on the fringes of civilization deep within Moonfell Wood along the shore of Sradiph Lake. It is one of the last settlements on the northern reaches of the Kingdom of Cantara before crossing over to the Northern Expanse. A wooden wall surrounds the town proper offering a bit more protection for the wooden keep within. Comprised mostly of elves, this town is best known for the ancient elven holiday by the same name, Aventine, that honors the spirits of the dead. Aventine is also known for its gourds which are often fashioned into decorative pouches, lanterns, and other useful items.</p>
      
      <p class="areaname">BETHEL</p>
      <p class="areadescription">The small town of Bethel sits within a series of small lakes on the island of Vraruks Ait. The residents here make their living catching fish and carving statutes from bone. Over the past several years, Bethel has had many champion horse riders that have won the island’s races. And while the local government refuses to become entangled in the arena battles at Cold Spring, their residents have formed underground fight clubs and betting that often spills over to Cold Spring and Torrine. Bethel is a sleep, peaceful town that doesn’t take kindly to adventurers or warrior types that often find themselves sleeping in a cell until they feel that Bethel is a town they’ll never return to.</p>
      
      <p class="areaname">BRETON WOOD</p>
      <p class="areadescription">For hundreds of years the forest of Breton Wood was planted and cultivated to be the largest source of apples in the known world. The crops of this vast wood are harvested by the citizens of Ivygate, Pinova, Cortland and numerous small villages who then convert the fruit to pies, cider, sauce, and other tradable goods.</p>
      
      <p class="areaname">COLDWATER CREEK</p>
      <p class="areadescription">Resting close to the southern portion of the Frozen Bluffs is the sleepy river town of Coldwater Creek. The buildings here are built predominantly of stone and the town is defended by a somewhat lackadaisical town guard. Coldwater Creek is best known for it love equestrian statues which can be found in almost any direction there. It’s primary revenue source is leather goods.</p>
      
      <p class="areaname">COLDSPRING</p>
      <p class="areadescription">On the westernmost portion of the Pillars of Valda is the island of Vraruks Ait. And on the westernmost portion of that island is Coldspring. Its ruler is Grung – a dodgy goblin whose family has run the town for several generations. Many of the villages on the Pillars of Valda participate in horse racing, but Coldspring has also taken to organized arena fighting where warriors start with daggers and earn their way up to more exotic weapons, fame, titles, and wealth. The main attraction in Coldspring has become the racing stadium that is now used for warrior battles. Coldspring has been run into the ground over the past several goblin generations and it is rumored that Grung took to arena battles to help rebuild the town since it has no other strong form of commerce.</p>
      
      <p class="areaname">CORTLAND</p>
      <p class="areadescription">Forged beside Breton Wood, the town of Cortland is home to many of the races of Hyreath save Goblins and Suhk who are forbidden from setting foot there. This has made foot-based travel difficult for those races who must find a way around or risk trying to sneak through the wary town. Cortland itself looks magnificent. With its rustic rooftops, stone walls and clean beaches, it has a glamorous atmosphere. Like all towns and villages, Cortland generates much of its revenue from its orchards, but competition over the years has forced it to focus more on highquality leather goods and stonework jewelry. It’s leader, Serian, has been working to improve the economy there and makes no secret of her disdain for the neighboring villages and towns that ruthlessly undercut each other.</p>
      
      <p class="areaname">CROOKED FOREST</p>
      <p class="areadescription">The Crooked Forest dominates a majority of Vraruks Ait – a large island located west of the town of Valda that is part of the Pillars of Valda. The thick forest is filled with the prominent trails that are frequently used as makeshift roads between the numerous villages that call the forest home. The northern portions of the wood are home to several Wildren villages that are unusually xenophobic.</p>
      
      <p class="areaname"> DEEPWATER SOUND</p>
      <p class="areadescription">Deepwater Sound is a body of water separated from the Sea of Trath by a series of islands known as the Pillars of Valda. There have been claims made that the sound is bottomless and in some places it may very well be, but for the most part shipwrecks closer to shore say otherwise.</p>
      
      <p class="areaname">EVERS’ MILE</p>
      <p class="areadescription">The buildings of the quiet town of Evers’ Mile are fashioned from the red-colored stone found on the nearby Spidermoss Mountain, but the town is most well known for its collection of art showcased in its Museum of Antiquity. The town is led by Mayor Hedolin Smeltgood, a Dwarf who was appointed leader of the town after the mysterious disappearance of the previous mayor, Kirin Frulgray. The town’s primary revenue source is mining and trade.</p>
      
      <p class="areaname">HEARTSONG</p>
      <p class="areadescription">Many would say the most notable feature of Heartsong is the architecture of its buildings – a unique mixture of Wanton and Cantaran cultures. Those who truly know music recognize Heartsong for its stringed instruments including the Heartsong Violin, Dulcimer, and Guitar all of which fetch a handsome price at market. Heartsong is a growing town filled with music, poetry, and passion. Its leader, Baron Heart, is a respected archer who has crafted some of the finest bows in the area known as heart bows.</p>
      
      <p class="areaname">IVYGATE</p>
      <p class="areadescription">Also known as Draydon Keep, the city of Ivygate is the last significant city south of Braeburn for hundreds of miles. Eighteen skinny, round towers are scattered in a seemingly random pattern around the castle wall, but have been build for an ideal defense and are connected by big, thick walls made of light grey stone covered in green ivy. The city is leg by Judge Eustis – a solemn man who is known for his integrity and disdain for thieves. The city is guarded by the Sunshapers – a group of trained knights that protect the city night and day. Ivygate is a port city that takes advantage of Deepwater Sound to transport goods quickly. Like most of the cities and villages that border Breton Wood, they take advantage of the apple crop. Ivygate is best known for its ornate temples dedicated to the gods.</p>
      
      <p class="areaname">LONELY FOREST</p>
      <p class="areadescription">On clear nights, the lighthouse from Oakstar Beacon can be seen from the the stretch of islands known as the Pillars of Valda. On the island of Ox Cay the Lonely Forest is home to many villages that lead a simple life away from the hustle and bustle of the large towns and cities found on the mainland. While many would call the villages sleepy, they are passionate about horse races and frequently host both day and night races. The various villages have no official leadership or military and justice is often served by a mob bearing torches and pitchforks.</p>
      
      <p class="areaname">OAKSTAR BEACON</p>
      <p class="areadescription">Guiding wayward ships around the rocky shores of the Gilded Cape is a stone-crafted lighthouse known as Oakstar Beacon. The structure sits atop a high ledge where a bright fire is kept burning day and night. Over the years the sleepy fishing village that supported the beacon became a bustling fishing town best known for the fishbone carvings and jewelry. The town is led by a council of elders who are known to be both strict and prudish – especially to outsiders.</p>
      
      <p class="areaname">OWLSTONE KEEP</p>
      <p class="areadescription">Kismet is the name of the small village that surrounds the stone walls that guard Owlstone Keep. The keep itself houses at most 30 knights, half of which are away for days at a time patrolling the roads that lead to Oakstar Beacon, Evers’ Mile, and Spidermoss Barrow. The town itself is led by retired knight, Lord Aldus Gifford, often referred to as “Aldus the Slayer.” The town’s primary revenue source is blacksmithing where it is renown for its high-quality swords and ironwork lanterns.</p>
      
      <p class="areaname">PILLARS OF VALDA</p>
      <p class="areadescription">A series of islands that stretch between Deepwater Sound and the Sea of Trath. The long-term inhabitants of the pillars enjoy being isolated from the mainland, but a season of change is growing in the younger generations who seek to leave the pillars to discover the world.</p>
      
      <p class="areaname">PINOVA</p>
      <p class="areadescription">Built along the road between Ivygate and Braeburn, the town of Pinova is a welcome stopping point for travelers making the trek between the two cities. While prosperous, their port is worn and most of their goods are now transported via cart to and from neighboring cities. While apples and apple products are a significant resource for them, there are most known for rare herbalism and elaborate apple beer brewing techniques.</p>
      
      <p class="areaname">TORRINE</p>
      <p class="areadescription">At the north-center of the Tora Forest on the island of Ralz Ait is the town of Torrine. Barely beyond the population of a village, Torrine is a growing town with not much to offer its residents other than solace from mainland. Most travelers visit Cold Spring before anywhere else in the Pillars of Valda leaving Torrine’s trade to suffer unless they take their wares there. Torrine is led by Mayor Austin Lamb, a fourth generation farmer who was pushed into leading. He now reluctantly does so, guided by the wise hand of the town council. Those from Torrine claim Lamb is nothing more than a puppet bullied to doing the council’s will and there to take a fall should they desire. If nothing else, Torrine is known for its various dyes made from local plants, shells, berries, and other means that provide an array of colors.</p>
      
      <p class="areaname">VALDA</p>
      <p class="areadescription">The town of Valda rests quietly on the western shore of the Valda Peninsula. It is a dying town chained to old ideas and the unambitious mindset of “we’ve always done it this way.” The town is led by a council of elders who the youth of town believe to be immortals as they seldom seem to pass on. It is the old mindset that is forcing more and more of the youth on the stretch of islands known as the Pillars of Valda to leave for better things. Without proper upkeep, the town has slowly been consumed by the Bogden Marsh that surrounds it. One of the main things Valda is known for is its mosquitos. These insects almost seem larger than normal and locals call them blood-sucking pixie dragons. They make it almost essential to sleep in the Greenmarsh Inn to avoid being bitten up all night.</p>
      
      <p class="areaname">WINDHOLD</p>
      <p class="areadescription">The innovative town of Windhold takes advantage of persistent mountain breeze to power several windmills that grind grain throughout the year. This efficient process has allowed the citizens of Windhold to sell large amounts of ground wheat and grain to local towns and cities. The prosperous town is run by Chancellor Lydia Libet who is a true idealist that people tend to treat like family.</p>
    </div>
  </div>

  <div class="row">
    <div class="container col-12 mt-2" id="regionheader">
      <%= image_tag("pages/setting/free-lands.gif", :class => "mx-auto d-block") %>
    </div>
  </div>
  <div class="row">
    <div class="container col-12 mt-2" id="regioninfo">
      <p>It has been called the "forgotten realms" of Hyraeth – a land without a king and a place where other kingdoms send their undesirables and criminals. The Free Lands are as their name implies: a land free of kings and queens. Instead, the people govern themselves in different ways at the various levels of civilization. Where one city may have a mayor or council another may have a chieftain or lord. Each place is left to their own devices and left to defend themselves. The people of some kingdoms consider people from the Free Lands to be the dregs of humanity.</p>
    </div>
  </div>
  <div class="row">
    <div class="container col-12 mt-2" id="AreaLink">
      <a id="FreeLandsAreaLink" href="./setting">
        <div>
          <i class="fas fa-plus"></i>&nbsp;Places in the Free Lands
        </div>
        </a>
      
    </div>
  </div>
  <div class="row">
    <div class="container col-12" id="FreeLandsAreas">
      <p class="areaname">Ardeth</p>
      <p class="areadescription">On the tip of Songwind Peninsula at the edge of the Elmwood Forest rests Ardeth. This small port town is a common stopover for ships that navigate along the Spirit Shores through the Shipwreck Current. Oddly enough, the town has been run from the The Fine Flagon Inn by its proprietor, Sister Taren Riverglow, since the death of her husband Benjamin years ago. Ardeth trades primarily in fish and is one of the five towns called the Sisters of Thalimas.</p>

      <p class="areaname">Applevale</p>
      <p class="areadescription">Between the Fangbark Woods and the Gray Lake is Applevale. This thriving town is best known for its sweet pies made by from bitter green apples. The recipe was originally made by Arma Gedd and has been passed down for generations. Many argue they’re the best apple pies in all the Free Lands. The town is led by two sisters, Janni and Signya Cyneburg, who charm the residents with their smiles and kindness. Anyone passing through the town can sample a piece of fresh apple pie at the Arma Gedd Inn. The inn is clean and run by Alma Din, a fifth-generation descendant of Arma.</p>

      <p class="areaname">Bethe</p>
      <p class="areadescription">Recently the village of Bethe has grown large enough to be considered a town. It is a welcome stopping point for those traveling between Mategor and Brana.  Bethe is known for its inn, The Cat’s Meow, that has dozens of cats keeping the inn safe from rodents and other pests. It is run by Leona Payne, a cat enthusiast who collects cats like others try to collect coins. Bethe is led by Carlyn Trevis, a retired farmer who turned to politics at an early age.</p>

      <p class="areaname">Birmingnok</p>
      <p class="areadescription">The town of Birmingnok is built around several iron mines that generate much of their trade. Mayor Kyle Markli runs the town and has a vested interest in the success of the town’s gladiatorial competition, The Iron Fist. Birmingnok is where many neighboring villages come to settle disputes.</p>

      <p class="areaname">Blackmer</p>
      <p class="areadescription">Despite its location on the shores of the Sea of Trath, Blackmer is more of a farming community than a fishing town. For the longest time, the town was run by an elder. In recent years, the town has become more community driven choosing to have oversight from a council of elected peers versus an individual. This has created some strife within the community, but also growth within the Blackmer economy. This has been a boon for the Chicken’s Roost – a tavern known for its tasty chicken noodle soup – as it has seen an influx of new customers following the trade routes between Lanternhall and Linhill. These travelers often stop by the weekly market to buy, sell, and trade before heading out.   </p>

      <p class="areaname">The Charring Peak</p>
      <p class="areadescription">Stretching along the western side of the Scorched Wastes is a range of dormant-and-semi-active volcanoes that lead into the Grumbling Mountains. These peaks are said to be home to hundreds of goblin tribes that dwell in the lava tubes of the dormant volcanoes.</p>

      <p class="areaname">The Creaking Copse</p>
      <p class="areadescription">Many of the trees in the Creaking Copse have died from blight over the years. Their dried up corpses creak eerily in the wind making travelers leary on their trip to or from the town of Marwick.</p>

      <p class="areaname">Culwick</p>
      <p class="areadescription">In times of darkness, many people in the Free Lands look to Culwick. Their eyes are not on Culwick’s leadership but rather the long-lasting candles they fashion from beeswax – their main source of trade. Culwick is led by Mayor Jessalyn Calor who has proven to be both kind and firm. The most notable place in Culwick is The Beehive Inn and the numerous farms that manage the bees.</p>

      <p class="areaname">Cumberland</p>
      <p class="areadescription">Cumerberland sits just east of the Quiet River on the trade route between Sharwood and Longmire. The town is primarily a farming community that trades grain, cheese, and cows at weekly markets. Konrad Mencher has served as the town’s leader for the past several years after the passing of his father, Ebner. The Cat & Fiddle Inn is where most travelers stay when passing through. It is run by Varsha Modugno, a half-elf with an adventuring past that she’d prefer not to talk about.  </p>

      <p class="areaname">Darkwatch</p>
      <p class="areadescription">Named for the small keep that towers above the buildings there, Darkwatch is a resting point between Lanternhall and Kalon. It is led Mayor Serge Rosere, a former Captain of the Guard for Darkwatch. The town primarily trades in furs and jerky made from the bison that call the plains home. Travelers have a few options for resting. You can stay at the Rusty Tankard Inn or sleep in the Inn’s horse barn.</p>

      <p class="areaname">The Deadfall Heights</p>
      <p class="areadescription">The Deadfall Heights are known for their sheer cliffs, unstable rock formations, and reputation for climbers falling to their untimely death below. Ancient scrolls are said to depict an underground waterway that connects the Heaving Waters to Lake Mategor, but this scrolls appear to be nothing more than tales told to embellish stories.</p>

      <p class="areaname">Deermeadow</p>
      <p class="areadescription">On the southern face of the Overwatch Peaks is a small town known as Deermeadow. Due to raiders and disease,the population of Deermeadow often fluctuates between village and town. There is only one inn, The Laughing Dryad, and it run by Penny Solomon who is known for being a little short with rowdy customers. It is no surprise that the main trade in Deermeadow is deer pelts and jerky.</p>

      <p class="areaname">Deep River
      <p class="areadescription">The town of Deep River gets its name from the large, slow-moving river that meanders by. Leading the town is the People’s Council – a group of five elected residents who have earned the respect of the community. Of course, some claim it has nothing to do with respect and the same five continue to lead the town because nobody else wants to. Wool is the primary trade of Deep River who is known for making thick, wool cloaks.</p>

      <p class="areaname">Dryads Den</p>
      <p class="areadescription">There are no villages or towns near the small forest that rests between Loch Ericht and the Dancing Lakes. Civilization has wisely kept its distance from the dryads that call the forest home. The Dryad Queen, Cloversprig, does not like uninvited guests.</p>

      <p class="areaname">The Dusk Cove</p>
      <p class="areadescription">The Dusk Cove is dotted with small fishing villages that stretch almost all the way from Saltmarsh to the base of Deadfall Heights.</p>

      <p class="areaname">Eagles Road</p>
      <p class="areadescription">Eagles Road is most known for an awful smell that seems to permeate through everything there. Of course, the residents there can’t smell it anymore and like it because outsiders tend to leave sooner. The town is led by Mayor Marvin Eckell. The main source of trade in Eagle’s Road is trained birds of prey used for falconry and hunting in general.</p>

      <p class="areaname">Esterwick</p>
      <p class="areadescription">The town of Esterwick benefits greatly from its proximity to Stormhaven as trade goods move from the Sea of Trath, to Stormhaven, and then through Esterwick. This often gives the merchants in Esterwick a large set of options to take along the road. The town is led by Rosh Elpor, a goblin very successful in his trade over the years. Despite his success, Rosh has had difficulty with various guilds trying to extort him. Some have gone as far as to attempt to kill him. He hasn’t let the threats and attempts on his life slow his success. There are several taverns and inns within Esterwick, but the most notable is Oztrmo’s Den run by Ettie Haines. Ettie makes a killer potato stew that warms your insides and makes sleeping at the inn all the more appealing.</p>

      <p class="areaname">Evenfort</p>
      <p class="areadescription">Evenfort sits as a gateway for the five small towns that dot the Songwind Peninsula that abuts the Spirit Shores. Of the five towns it is the largest and most defended with large walls and an active guard presence. The town is led by Sister Lea Everette, a former adventurer who ended up marrying Sinclair Everette – a wizard and member of the now retired “Larks” adventuring group. Evenfort’s primary trade is mid-sized ships that are built and launched into Starlit Bay. The craftsmanship on the boats leaves a lot to be desired, but the price is such that few complain.</p>

      <p class="areaname">The Exiled Reef</p>
      <p class="areadescription">The Exiled Reef gets its name from the changing tides that create a land bridge from the shore to the island for a week each autumn. Many animals and unwary travelers have met their end trapped on the reef without the resources or shelter to escape.</p>

      <p class="areaname">Eyne’s Peace</p>
      <p class="areadescription">Barely a town, Eyne’s Peace has an almost village-like setting with buildings that sit on few dry points found in the Willow Hill forest. The town has no taverns, inns, or an official leader. It is instead run by mob rule with torches and pitchforks more common than true justice. The town’s name is derived from old lore that says the area was once a druidic sanctuary.</p>

      <p class="areaname">The Fangbark Woods</p>
      <p class="areadescription">It is the pointed bark of the Fangbark trees that gives the forest its name. Travelers are warned to “stick to the trails if you don’t want to get bit.” The bark of the travelers is usually worse than the bite of the trees. Wandering off the trails just means you’re more likely to get lost than any serious injury.</p>

      <p class="areaname">Forlorn (Petrichor)</p>
      <p class="areadescription">Crumbling between the Heaving Waters and the Gray lake is the former city of Forlorn. Once a thriving city known as Petrichor it has been abandoned for many years due to a deadly plague that killed a majority of the residents there. Few dare to venture back into this place and the few that return speak of a large chasm in the center of the city that seems to stretch into the darkness of the underworld.</p>

      <p class="areaname">The Forsaken Fields</p>
      <p class="areadescription">Travelers tend to go wide around the Forsaken Fields to avoid the nomadic Centaur tribes that call the plains home. Each of these tribes is led by a chieftain who will always side with a centaur over an outsider.  </p>

      <p class="areaname">Frogden</p>
      <p class="areadescription">Along the shores of the Gray Lake is the small town of Frogden. The town is ruled by Jengar Winegard, a man held in fairly low regard for his poor leadership. Most citizens of Frogden are too worn out from work to pay much heed, but from time to time there is notable grumbling. Jengar’s wife, Kendra, is somehow always able to calm the masses down and they go back to their lives. The Bedry is the town’s only inn if you could call it that. It is more common room attached to a pub. The rates are good and most of the beer is cheap except the imported beer from Loch Eswich.  Frogden doesn’t have much to trade other than a few rare frogs used in alchemy. It is hardly enough to keep the town’s economy going.</p>

      <p class="areaname">The Ghost Wood</p>
      <p class="areadescription">The Ghostwood is one of two significant forests that stretch along the Songwood Peninsula. The forest is most known for its namesake: Ghost Wood. This rare, dead wood is found glowing on the forest floor where it illuminates the darkness with its eerie light. The wood is said to be magical, but scholars dispute this as nothing more than a trick to sell the worthless branches. Almost unnoticed in the forest is a group known as the Guardians of Ghost Wood. These mysterious rangers are led by an elven druid, Glyn, who is said to have lived in the forest for many years.</p>

      <p class="areaname">The Gray Lake</p>
      <p class="areadescription">It is said the ashen waters of the Gray Lake originate from beneath the crumbling city of Petrichor. Whatever the case, the murky waters taste have a mossy taste that takes some getting used to.</p>

      <p class="areaname">Hammerfell</p>
      <p class="areadescription">The city of Hammerfell hides on the southernmost tip of the Deadfall Heights along the shores of the Silver Coast. The city is a rowdy place divided into five unequal sections each ruled by a pirate lord. These pirate lords are always covertly vying to acquire other sections of the city to expand their power base. One section of the city that is considered to be a neutral zone is the docks. Here ships are built and repaired as well as cargo loaded and unloaded.  The most notable pirate in the city is Captain Everett Bloodsword, who keeps the chaos and infighting to a minimum. Any disputes between groups are typically brought to – and settled by – him. Hammerfell has been called the City of Thieves and rightfully so. They trade only in what they’ve managed to steal at sea.</p>

      <p class="areaname">Hyza</p>
      <p class="areadescription">The city of Hyza’s population has swelled in recent years as trade in the area continues to grow. Hyza is a major stopping point with a large central marketplace and daily bazaars. The city is led by Cass Trafford and his brother Cliff. While the two don’t always see eye to eye on everything, they usually end up doing what is best for the city and its permanent residents. While nothing compared to the chaos of the markets in Braeburn or Aelgate, the central market can be a bit chaotic. It is by no means lawless as guards make frequent patrols of the area.</p>

      <p class="areaname">Kalon</p>
      <p class="areadescription">Talia Windsborough has ruled Kalon since it was just a few cabins along the Gray Lake. She is credit for its success. Now a bustling city, Kalon is most known for their bows and arrows made of Moonwood. Most notable in the town is its center where colorful flowers surround a beautiful fountain. Most town meetings are conducted there during the warmer months. If you’re looking for a place to stay, The Belching Boar is often recommended over The Black Swan Inn. Either place is comfortable, but the Boar is the only place in town that serves Loch Eswing beer.</p>

      <p class="areaname">Knightsbridge</p>
      <p class="areadescription">In the center of the town of Knightsbridge is a sturdy stone bridge for which the town is aptly named. The bridge crosses a small river that branches out of the Quiet River in the western portion of the town. The town is led by Captain Jesse Ó Cochláin, a former soldier gone pirate hunter. Knightbridge is known for making some of the fastest sailing vessels on the shore, which it uses to capture pirate ships in the Mermaid Gulf. The most popular tavern in Knightsbridge is The Mermaid’s Smile, which has several realistic statues of mermaids carved from wood and painted.</p>

      <p class="areaname">Kingsbury</p>
      <p class="areadescription">Despite the noble name, Kingsbury is barely a town. It has a tavern “The King’s Hall” but no inn. Travelers either find a place to rest in various hostels hosted by residents or sleep in the tavern’s barn with the livestock. Kingsbury is led by Sister Kara Blinn and her husband John who is more of the town’s headman. It is noticeable the Blinns are more preoccupied with their 6 children than Kingsbury, but most residents understand and don’t fret the small stuff. Like Rhesda, Kingsbury trades primarily in fish as well as with wood carvings from both glowing Ghostwood and the common green-colored wood found in the Tainted Forest. Kingsbury is one of the five towns called the Sisters of Thalimas.</p>

      <p class="areaname">Lake Mategor</p>
      <p class="areadescription">Lake Mategor is a large freshwater lake formed from the waters that run off of the Deadfall Heights. The lake feeds the Still RIver that winds its way to through the Shadow Wood to Blackthorn lake near the city of Blackvern.</p>

      <p class="areaname">Lanternhall</p>
      <p class="areadescription">At the base of the Spidermoss Mountain Range is the mid-sized town of Lanternhall. The homes here are a-framed and sturdy – designed to take on the winter snow generated by the mountains and The Golden Strand waters. The residents are hearty folk who dress in leather and fur. Leadership comes from the town’s chieftan, Alfwine Haalgen – a strong man with a thick gray beard. Despite his age, he is a formidable opponent with his axe. There are no inns within the town of Lanternhall. Instead, travelers stay at the Longhouse – a large community hall with several fireplaces inside. Lanternhall trades in fur as well as both bison and fish jerky.</p>

      <p class="areaname">Linmarsh</p>
      <p class="areadescription">Linmarsh is a small town with most of its homes high within the trees of the Moonwood Forest. From the ground there isn’t much to see. in fact, you might event pass Linmarsh by if it weren’t for some of the buildings there. In the trees, ornate bridges connect various platforms and homes. Linmarsh is led by the former elven adventurer, Miras Rasrian. Miras is a respected member of the community who is known to for his benevolence toward Linmarsh residents. Some of the most intricate and beautiful baskets in the Free Lands originate from Linmarsh, which exports them as a main source of trade. Below the town, the residents grow mushrooms and potatoes as local food sources. Many grains are imported from neighboring towns. The town’s only inn, The Bunk House, is run by Taa Silvermoon, an elven priestess of Enoon.</p>

      <p class="areaname">Llanshroud</p>
      <p class="areadescription">The town of Llanshroud takes advantage of its location on the Still RIver to use boats for trade with the City of Blackvern, which quite a distance from the town in the Shadow Wood. The towns leader, Elizabeth Bitterheart, believes in the river trade, but doesn’t want to lose sight of land trade with Birmingnok or Hammerfell. Her strong business sense has kept the town thriving, but has come under opposition from some of the residents who would rather not deal with trade. Especially any trade with Blackvern as they allow Deep Elves to live there. Llanshroud’s primary trade is wool acquired from the numerous sheep farms they operate.</p>

      <p class="areaname">Loch Ericht</p>
      <p class="areadescription">Loch Ericht is a body of water south of Shadowhall that ends just before reaching the Sea of Trath. Bards tell tales of a sea monster that dwells in its depths, but most who hear the tale are certain it has been embellished more than once.</p>

      <p class="areaname">Loch Eswich</p>
      <p class="areadescription">Suffering from a damaged economy, the buildings in Loch Eswich are weathered and somewhat unkempt. The residents of the Loch have been struggling for years to recover from a series of setbacks that destroyed the crops necessary to make beer. The reluctant Gareth Stillbrook was appointed Leader of the Loch when Anya Goldmoon resigned after the fires. Since then it would appear the Loch is slowly returning to the days when it thrived from the sale of what many consider the best beer in the realm. The main export of Loch Eswich is beer, but there is still plenty to be had at its three main taverns and inns: The Busty Barmaid, The Fresh Flask, and The Rusty Crown Inn.</p>

      <p class="areaname">Lowescroft</p>
      <p class="areadescription">Lowescroft is a small town that sits about halfway between the cities of Hammerfell and Blackvern. Its main source of trade is Plains Doe skins which are often used to make warm, but lightweight cloaks and hoods. The town is led by Mayor William Redit. The two major stopovers in the town are Kraun’s Place and The Laughing Dragon.</p>

      <p class="areaname">Longmire</p>
      <p class="areadescription">Longmire is just east of the Quiet River – a long body of water that snakes from the Overwatch Peaks down to the Mermaid Gulf. The city is led by Janek Amadori, a jovial fellow with a sincere love for the people of the city. Janek can often be found at the Boar’s Head Inn – a quaint little place with a deck that overlooks the river. Longmire trades in a variety of things, but is best known for lightweight boats made of reeds from the Whistful Bog.</p>

      <p class="areaname">Marwick</p>
      <p class="areadescription">The town of Marwick is best known for its strong horses which it captures from the plains to the west, trains, and then trades. The town is led by Mayor Gorin Wornstone. It is best known for its annual Knights Tournament that includes jousting and armored combat.</p>

      <p class="areaname">Mategor</p>
      <p class="areadescription">Lake Matagor provides everything the residents of Mategor need. The town is picturesque and practical mixing gardens and flowerbeds to give it a unique feel. Just outside the town along the shore of the lake is Mategor’s most notable feature: the tower of the wizard Rathloak. Town residents steer clear of the tower and the strange noises and explosions that come from it. The wizard has been seen coming to town from time to time to gather things at the weekly market. Leading the town is Alex Bluehelm, a retired fighter who isn’t very impressed with wizard, but isn’t overly concerned either. The town tends to do a lot of trading with Llanshroud selling pelts and jerky acquired from Moorshaven.</p>

      <p class="areaname">Mermaid Gulf</p>
      <p class="areadescription">It is said that long ago a large portion of the Mermaid Gulf was land above water with a beautiful city known as Mistalav. As the story goes, the citizens of Mistalav angered the gods who then sunk the city and cursed the residents never to walk on land again. Whether the legend is true or not merfolk of Mistalav often trade with specific ships from Knightsbridge and smaller villages in the gulf.</p>

      <p class="areaname">Merrymount</p>
      <p class="areadescription">The town of Merrymount is led by Mervin Spence, a retired ship captain that used to sail for The South Sea Trading Company based in Starwood Bay. Mervin took over the town of Merrymount by accident when the former leader passed away suddenly. The most notable place in Merrymount is The Happy Peddlar – a shop with an eclectic mix of supplies and trade goods influenced by Mervin’s trade experience. The town has grown under its new leadership and the people seem happy.</p>

      <p class="areaname">Moonwood Forest</p>
      <p class="areadescription">The younger trees of the Moonwood forest usually grow straight to the sky making them ideal for crafting arrows that fly true. Aside from this, the Moonwood Forest could be like any other in the Free Lands.  </p>

      <p class="areaname">Moorshaven</p>
      <p class="areadescription">Standing at the edge of the Skeleton Fields along the shores of the Heaving Waters is the quiet town of Moorshaven. The town’s leader, Gi’bur Stoneshaper, is a gruff dwarf with a love for the mountains. When he isn’t dealing with the problems that arise in town, he is off exploring the Deadfall Heights. Some residents claim he is searching for someone or something specific, but Gi’bur just reminds them he is a dwarf and the mountains remind him of home. In Gi’bur’s absense the town is overseen by Sara Tolwen, one of Gi’bur’s former adventuring companions who was also once a druid Keeper of the Flame. The only tavern in Moorshaven is The Chipped Chalice. It usually has a few rooms available for a reasonable rate. The main trade of Moorshaven is bison pelts and jerky which is obtained from the Skeleton Fields.</p>

      <p class="areaname">Morsham</p>
      <p class="areadescription">Morsham is a beautiful town with an inviting atmosphere. With its birch wood rooftops, redstone walls and kind residents, many feel at home there. Most notable is stone tower built near the Heaving Waters that serves as a beacon for travelers in the night. The town is led by Mayor Oisin Weye who has served as mayor most of his life. His brother, Remus is the town cobbler and a master of his art. Morsham’s primary trade is pigs, which are often traded in the neighboring city of Loch Eswich.</p>

      <p class="areaname">Naria</p>
      <p class="areadescription">On the southern shore of the Heaving Waters is the town of Naria. The buildings here are fairly well maintained, the streets clean and patrolled by a diligent guard, and the town’s coffers filling steadily with profits made from the sale of Narian Ale after the tragic fires in the neighboring city of Loch Eiswich. The town has been led by Mortimer Grayson, the man who history will say helped put Naria back on the map. Most notable place in Naria is the Brewery – a popular inn within the center of town that also creates Narian Ale. The Inn is run by Addi Mercia who took over the inn after her father’s passing over 15 years ago and has steadily worked to make it more profitable.</p>

      <p class="areaname">Querencia</p>
      <p class="areadescription">When you mention Querencia to anyone on the Songwind Peninsula the first thing they’ll talk about is the Naughty Nymph. Once you’ve seen the Naughty Nymph it can never be unseen. Fortunately, there are other, more tame, taverns and inns in Querencia like The Yawning Rabbit or The Broken Arrow Inn. The town is led by Sister Tina McGavern and her wife Ailee. While fishing is a staple for trade, Querencia is also known for crafting some of the finest canoes in the Free Lands. Querencia is one of the five towns called the Sisters of Thalimas.</p>

      <p class="areaname">Rhesda</p>
      <p class="areadescription">The town of Rhesda sits along the narrow road that winds between Kingsbury and Ardeth. It is a resting point for those traveling to and from the neighboring town of Ardeth. Rhesda is led by Sister Adri Haywen who serves as the town’s Mayor. The town’s primary trade is fishing, but they are most known for the woodworking done using glowing wood found in the abutting Ghostwood forest. Some believe the wood to have magical properties, while others claim this is a rumor made to inflate the price. The Drunk Duck and the House of Pots are two popular inns found here. Rhesda is one of the five towns called the Sisters of Thalimas.</p>

      <p class="areaname">Pela</p>
      <p class="areadescription">The town of Pela is led by Lord Lyod Chase.  The self-declared lord is known for being a bit hot under the collar and difficult to deal with. More than once has he had someone thrown into prison for rubbing him the wrong way. The people of Pela tend to walk on eggshells when Lord Chase leaves his small stone keep, but that isn’t often. After two unsuccessful assassination attempts, Lord Chase doesn’t visit the town as much as he used to. At least not without a large contingent of guards.</p>

      <p class="areaname">Saltmarsh</p>
      <p class="areadescription">A town of Saltmarsh is a small, but respectable fishing town built on the wetlands of the Misty Marsh. The buildings are flamboyant with wheat straw rooftops, elm wood walks, and murky ponds. The main attraction here is an abandoned quarry located just 4 miles east of town. Overlooking the quarry atop a high hill is the foreman’s home decayed, forbidden, and some say most definitely haunted.</p>

      <p class="areaname">Seabrook</p>
      <p class="areadescription">A town of seabrook is a small, but growing thanks to the diligence of its leader, Mayor Landon Holt. Landon is responsible for growing trade with neighboring towns and for utilizing the Sea of Trath to further strengthen their reach. The Stowaway is a popular inn that sits on the side of the land bridge that touches the sea.</p>

      <p class="areaname">The Scorched Wastes</p>
      <p class="areadescription">It is said the desert was once a lush forest before they became victim to the Grumbling Mountains found along their border. The Scorched wastes are now an almost inexplicably dry wasteland nearly devoid of life. Of the creatures that call the wastes home, the fire scorpions find their way into the clothing of sleep travelers only to awake them with a sting that burns like fire for just over a day.</p>

      <p class="areaname">Shadowhall</p>
      <p class="areadescription">When one thinks of Shadowhall the first place that comes to mind is the Tale Tales Tavern. The establishment is more than a simple tavern. It is a training ground for some of the best bards in the realm. The town is best known for its library, which contains numerous tales and stories shared by bards from every direction. The most recommended inn there is called the Wayfarer’s Rest owned by Shonda Triggs. It’s a clean place with good drinks and filling food. The town’s leadership comes from Shania Thompsett, a classically trained bard who can play just about any instrument. Every summer, Shadowhall hosts an outdoor gathering of Bards known as The Opus. This is a chance to feast, tell tall tales, and have fun.</p>

      <p class="areaname">Shadowhall Forest</p>
      <p class="areadescription">Shadowhall forest is a thick wood that grows north of the city of Shadowhall.</p>

      <p class="areaname">Shadow Wood</p>
      <p class="areadescription">The Shadow Wood surrounds Blackthorne Lake and much of the city of Blackvern who is slowly chipping away at the forest. The wood earned its name because the thick tree cover keeps the forest cool and in shadow.</p>

      <p class="areaname">The Shady Waters</p>
      <p class="areadescription">The Shady Waters is a river that flows from the Grumbling Mountains down to Purity Lake. At its origin, the river is known for having dirty looking water that becomes more and more clear as it approaches Purity Lake in the east.</p>

      <p class="areaname">Sina</p>
      <p class="areadescription">Sina is a small town that sits on the northern shore of the Gray Lake. It’s a stopover for traders making the trek between the City of Wystone and Hyza. The town is led by Mayor Sharalyn Carley Bain and is most noted for its harma crop that can hardly grow fast enough to keep up with demand in the neighboring city of Wystone. The town of Sina is mostly human with a larger than normal population of Suhk. The Fins and Tales inn is the most notable establishment in Sina. It is currently run by Mara Cookson – a fourth generation owner of the inn.</p>

      <p class="areaname">The Sisters of Thalimas</p>
      <p class="areadescription">Ardeth, Rhesda, Kingsbury, Querencia, and Evenfort are five towns that stretch along the Songwind Peninsula that pierces the Spirit Shores. Each town is run by one of the five daughters of Thane Haywen Thalimas. While Haywen’s wife, Asterei, never bore him a son, his daughters never disappointed him. Each went on to form notable towns along the peninsula.</p>

      <p class="areaname">The Skeleton Fields</p>
      <p class="areadescription">War and death is how the Skeleton FIelds earned its name. With a little effort it is possible to find the bones of a fallen soldier or creature almost anywhere on the plain.</p>

      <p class="areaname">Squall’s End</p>
      <p class="areadescription">North of Surrock’s Maw is the small town of Squall’s End. The town is run by a council headed by Sheriff  Rofred Willington III. Under the sheriff’s command are two dozen men and women who patrol the town both day and night. The job is fairly uneventful as most of the town is law abiding. The town has one inn, The Krazy Kobold, which is the rowdiest place in town.  </p>

      <p class="areaname">Starwood Bay</p>
      <p class="areadescription">In all of Stone Harbor, Starwood Bay is the largest settlement. It is led by Devi Kennard, an aristocratic woman originally from Stormhaven who married the city’s former leader, Emerson Kennard. Emerson met his untimely end in a shipwreck during one of the Sea of Trath’s freak storms leaving Devi to rule. Devi was born into wealth as her parents both rule over the city of Stormhaven to the northwest. There are several taverns and inns within Starwood Bay, but the most noteworthy is The Black Barnacle – a tavern overlooking the water near the docks. Starwood Bay has many imports and exports, but is best known for Stonehead fish cooked in batter and served with sliced potatoes.  </p>

      <p class="areaname">The Still River</p>
      <p class="areadescription">The Still River is a slow-moving river that flows from Lake Mategor and through the Shadow Wood to Blackthorn Lake near the city of Blackvern.</p>

      <p class="areaname">Still River Mill</p>
      <p class="areadescription">Still RIver Mill is a small town at the base of the Windy Mountains. The Mountain Home Inn is where most travelers stay when they visit and each is sure to have a bowl of beef stew made by its proprietor Cate Gibbs. The town is led by a council consisting of 10 members of the town who constantly disagree over almost everything. This has slowed progress in the town and resulted in more than one fued.</p>

      <p class="areaname">Stormhaven</p>
      <p class="areadescription">The prosperous city of Stormhaven has been ruled for generations by the Harford family. Currently ruling is the beloved Kacie Harford along with her husband Osborn Harford III. Their son Ansel is next line line to take over the city and their daughter, Devi, was married off to the former leader of Starwood Bay, Emerson Kennard. Emerson perished in a shipwreck during a one of the Sea of Trath’s freak storms leaving Devi to run the city. Like Starwood Bay, Stormhaven handles a lot of their trade through the South Sea Trading Company, which has a base of operations on the Stormhaven docks as well. There are two taverns of note in Stormhaven: The Reveling Wench, which is owned by Stan Albinson and the Albatross owned by Kory Waterman. There has been a friendly rivalry between the two establishments over the years as to who has the best silver serpent players. The Reveling Wench has held on to the champion title for the past several years.</p>

      <p class="areaname">The Tainted Forest</p>
      <p class="areadescription">The Tainted Forest is one of two significant forests that stretch along the Songwood Peninsula. While the forest itself is nondescript, the sap from some of the trees has been useful in some alchemical creations.</p>

      <p class="areaname">Tallo</p>
      <p class="areadescription">Between the Whispering Pine forest and the Heaving Waters, the town of Tallo finds peaceful solace. Here the artful residents practice the art of glassblowing, pottery, and most importantly slavery. Captured slaves are worked in the iron mines that dot the hills separating the town from the nearby pine forest. The town’s leader, Torin Hagmer, is as efficient as he is ruthless. Residents don’t seen to mind, however, as slaves handle the hard work while they enjoy the arts. Aside from slaves, the major trade in Tallo is potion bottles made from rare glass and pottery. The town is protected by hired guards who also keep the slaves at work in the mines.</p>

      <p class="areaname">Urda</p>
      <p class="areadescription">Between the Gray Lake and the Fankbark Woods is the small town of Urda. Like, Sina, it is a resting place for traders making the long trek between Hyza and Wystone for trade. The town’s leader, Percival Waterman, has been struggling to grow the town with no success. Travelers come and go but few wish to settle down. Some years Urda is a town while others its population is a just large village while residents move off to other places looking for a more prosperous life. Urda has no official inn and many that stop here set up camp just outside the town.</p>

      <p class="areaname">The Werewood Forest</p>
      <p class="areadescription">For as long as anyone can remember, residents of Loch Eswich have always told their children to behave or the wolfman of the Werewood Forest would take them at night. Aside from spooky tales, the forest itself is nothing out of the ordinary.</p>

      <p class="areaname">The Whispering Pines</p>
      <p class="areadescription">Separating the Heaving Waters from the Scorched Wastes is the Whispering Pines forest. While the trees themselves are unusual for the area, there is nothing else notable about them. Warm breezes from the wastes and cool breezes from the Heaving Waters create an almost whisper-like sound from the trees.</p>

      <p class="areaname">The Whistful Bog</p>
      <p class="areadescription">On the eastern bank of the Quiet River across from Longmire, the Whistful Bog is home to a variety of fauna and flora. The puff reeds found here are strong and when properly dried can be used to fashion fairly reliable rafts. Locals know to avoid harvesting the reeds in areas with reed huts as this marks the home of the Bulrogs – a highly territorial race of frog-like humanoids.</p>

      <p class="areaname">Willow Hill</p>
      <p class="areadescription">Willow Hill is a large swamp-like valley dominated mostly by willow trees. Because of this, the large valley remains largely uninhabited except a few small villages found there.</p>

      <p class="areaname">Winterdell</p>
      <p class="areadescription">This small town hides within the Northern Wilds next to the Everreach River that flows gently down from the Northern Expanse during the warmer months of the year. The town is best known for Odd Goats Trading Post, a busy shop run by Wildren Ozkeh Dholk that supplies needs for fur trappers and adventurers.</p>

      <p class="areaname">Wystone</p>
      <p class="areadescription">Wystone is a smaller than average city that resides between the Whispering Pines forest and Gray Lake. The buildings here are well kept and the streets always clean. Unlike most cities that have a large mixture of races and cultures, Wystone is predominantly Sukh. The city is led by Imam Salta, a venerable and wise Sukh originally from the capital city of Khemzutaten.  Salta is greatly respected and well known in the region. Residents of the city take great pleasure in frequenting harma lounges where the indulge in this refined and mildly addictive herb. There are many harma lounges, inns, and pubs in Wystone but most notable is Baalzepub run by Nami Manaf. It is one of Wystone’s larger lounges and one of the few that allows non-Sukh.</p>

      <p class="areaname">Yoht Paradise</p>
      <p class="areadescription">This valley paradise begins at the base of the Windy Mountains. It is mostly unexplored and filled with lush trees, rare plants, and land that seems to wind deeper and deeper into the earth. Most notable in the valley are large territorial gorillas that have taken many explorers by surprise.</p>

      <p class="areaname">Zyre</p>
      <p class="areadescription">On the western bank of the Heaving Waters just below the Whispering Pines forest is the town of Zyre. This walled town is led by Hubert Sommer and is most known for the fantastic stringed instruments they create.</p>
    </div>
  </div>

  <div class="row">
    <div class="container col-12 mt-2" id="regionheader">
      <%= image_tag("pages/setting/pale-lands.gif", :class => "mx-auto d-block") %>
    </div>
  </div>
  <div class="row">
    <div class="container col-8 mt-2" id="regioninfo">

    </div>
    <div class="container col-4 mt-2" id="regionslideshow">
      Slideshow goes here
    </div>
  </div>
  <div class="row">
    <div class="container col-12 mt-2">
      City Block
    </div>
  </div>

  <div class="row">
    <div class="container col-12 mt-2" id="regionheader">
      <%= image_tag("pages/setting/devaria.gif", :class => "mx-auto d-block") %>
    </div>
  </div>
  <div class="row">
    <div class="container col-12 mt-2" id="regioninfo">
      <p>When the Dep’El first began voyaging they ventured through the Endless Bramble and beyond the Sinking Basin. These inhospitable lands had repelled earlier travelers. The vast expanse of Windy Lake with its freezing waters, sudden storms, and monstrous creatures was barrier enough, but the lands themselves were wild stretches full of all sorts of hazards. Cautious of the dangers the unsettled world presented, the Dep’El used natural caves as easily defensible waypoints and outposts on their venturing routes. Over time, these crude stopping points gave way to elegantly hewn holdings, and, following their exile, these grew into entire cities. Aided by the Dwarves, the Dep’El mastered stonecraft and tunneling, raising great underground cities with Dwarven craftsmanship and Elven grace and beauty. Rumor has it the true capital of Devaria isn’t Aurel at all, but a huge underground city near the Thundering Summit. Tight-lipped Dep’El will never acknowledge its existence, but the number of well-paved trade roads in the eastern regions suggests the legends may in fact be true.</p>
    </div>
  </div>
  <div class="row">
    <div class="container col-12 mt-2">
      City Block
    </div>
  </div>

  <div class="row">
    <div class="container col-12 mt-2" id="regionheader">
      <%= image_tag("pages/setting/faeden.gif", :class => "mx-auto d-block") %>
    </div>
  </div>
  <div class="row">
    <div class="container col-12 mt-2" id="regioninfo">

    </div>
  </div>
  <div class="row">
    <div class="container col-12 mt-2">
      City Block
    </div>
  </div>

  <div class="row">
    <div class="container col-12 mt-2" id="regionheader">
      <%= image_tag("pages/setting/savage-heights.gif", :class => "mx-auto d-block") %>
    </div>
  </div>
  <div class="row">
    <div class="container col-12 mt-2" id="regioninfo">
      <p>Legend tells of gigantic snakes lurking in the mire that is the Am K’aax jungle. Travelers fear to enter that dark, dangerous tangle of vines and trees, knowing far too many beasts lying within would consider them no more than an easy snack. Stories filled with wickedly curving fangs, quicksand pits, and trees that bleed are told in every tavern for a hundred miles.</p>
      <p>Legend also tempts the foolish with tales of entire cities of gold and streets paved with diamonds where there is such wealth that children are given rattles filled with sapphires.</p>
      <p>Only the most reckless adventurers attempt to cross the Am K’aax in search of this treasure – spiders the size of oxen, savage bandits, and creatures that thirst only for the blood of mortals stand between the Freelands and the base of the Savage Heights; and even if you manage to escape those perils… well, the mountains and the mosquitos are worse.</p>
      <p>In fact, strange magic seems to seep from the Savage Heights that will turn you in hopeless circles until Dedrot takes pity on your wandering soul. The Forbidden Coast rages unexpectedly with storms that appear out of nowhere to dash hapless ships upon barrier islands of slicing coral blades, feeding unlucky survivors of the storm to monsters lurking in the deep. There is no telling just what horrors this creeping magic keeps trapped in the inhospitable jungle beyond – but certainly, no chance of gold is worth the gruesome death awaiting.</p>
    </div>
  </div>
  <div class="row">
    <div class="container col-12 mt-2">
      City Block
    </div>
  </div>
</div>

<script type="text/javascript">


window.onload = function() {
  var cantaralink = document.getElementById("CantaraAreaLink");
  var cantaraareas = document.getElementById("CantaraAreas");

  var freelandslink = document.getElementById("FreeLandsAreaLink");
  var freelandsareas = document.getElementById("FreeLandsAreas");


  cantaraareas.style.display = "none";
  freelandsareas.style.display = "none";

  cantaralink.onclick = function() {
    if (cantaraareas.style.display === "none") {
      cantaraareas.style.display = "block";
      $(this).find($(".fas")).removeClass('fas fa-plus').addClass('fas fa-minus');
    } else {
      cantaraareas.style.display = "none";
      $(this).find($(".fas")).removeClass('fas fa-minus').addClass('fas fa-plus');
    }
    return false;
  }
  freelandslink.onclick = function() {
    area = freelandsareas
    if (area.style.display === "none") {
      area.style.display = "block";
      $(this).find($(".fas")).removeClass('fas fa-plus').addClass('fas fa-minus');
    } else {
      area.style.display = "none";
      $(this).find($(".fas")).removeClass('fas fa-minus').addClass('fas fa-plus');
    }
    return false;
  }
}
</script> 