<div class="container col-11">
<div class="pagetitle"><%= @event.name %></div>
<div class="pagesubtitle" ><%= @event.description %></div>

<div class="text-center"><strong>Start Date:</strong> <%= @event.startdate %>  -to-  <strong>End Date:</strong> <%= @event.enddate %></div>

<hr>
<div class="container col-12" id = "cabinmap">
  <div class="row">
    <div class="col-12">
      <b>Your Character:  </b><%= @character.name %>  <br>
      <b>Your Cabin:      </b><%= @myeventattendance.cabin.name %>
        <% if canUpdateCabin() %>
        
          <%= link_to 'Update Cabin', edit_character_path(session[:character]) %>

        <% end %>
      </div>
  </div>

  <div class="row">
    <div class="col-6">
      <%= image_tag("events/the_crossing.jpg") %>
    </div>
    <div class="col-6">
      <%= image_tag("events/the_glade.jpg") %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <% Cabin.all.where(location: 'The Crossing').each do |cabin|  %>
        <b><%= cabin.name %></b>
        <ul>
          <% @event.eventattendances.where(cabin: Cabin.all.find_by(name: cabin.name)).each do |cabinassignment|  %>
            <li> <%= cabinResident(cabinassignment) %>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="col-6">
      <% Cabin.all.where(location: 'The Glade').each do |cabin|  %>
        <b><%= cabin.name %></b>
        <ul>
          <% @event.eventattendances.where(cabin: Cabin.all.find_by(name: cabin.name)).each do |cabinassignment|  %>
            <li> <%= cabinResident(cabinassignment) %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= image_tag("events/town_proper.jpg") %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <% Cabin.all.where(location: 'Town Proper').where.not(name: 'Cast Cabin').each do |cabin|  %>
        <b><%= cabin.name %></b>
        <ul>
          <% @event.eventattendances.where(cabin: Cabin.all.find_by(name: cabin.name)).each do |cabinassignment|  %>
            <li> <%= cabinResident(cabinassignment) %>
          <% end %>
        </ul>
      <% end %>
      <hr>
      The following indivuals have not yet selected a cabin<br>
      <ul>
        <%  @event.eventattendances.where(cabin: nil).each do |cabinassignment|  %>
          <li> <%= cabinResident(cabinassignment) %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
