<%= link_to 'Add Exp', new_admin_user_explog_path(user_id: @user.id), remote: true %>

<table class="table table-striped table-bordered table-sm">
  <thead class = 'thead-dark'>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Acquire Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Granted By</th>
        <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @user.explogs.each do |explog| %>
      <% if (explog.acquiredate > Time.now) %>
        <tr class = 'table-secondary'>
      <% elsif (explog.amount < 0) %>
        <tr class = 'table-danger'>
      <% else %>
        <tr class = 'table-success'>
    <% end %>
      <td><%= link_to explog.name, edit_admin_user_explog_path(user_id: @user.id, id: explog.id), remote: true %></td>
      <td><%= explog.description %></td>
      <td><%= explog.acquiredate.to_date %></td>
      <td><%= explog.amount %></td>
      <td><%= explog.grantedby.firstname + ' ' + explog.grantedby.lastname%> </td>
      <td>
        <%= link_to admin_user_explog_path(user_id: @user.id, id: explog.id), method: :delete, data: { confirm: "Are you sure?" } do %>
          <%= fa_icon "trash" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="modal fade" id="expModal" tabindex="-1" role="dialog" aria-labelledby="expModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="expModalLabel">Add Experience</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> 
      <%= render partial: 'admin/modals/explog', locals: {explog: @explog, pathurl: admin_user_explogs_path(user_id: @user.id)} %>
    </div>
  </div>
</div> 