
<% classoptions = options_from_collection_for_select(@classes, 'id', 'name', :selected => @character.characterclass_id) %>
<% deityoptions = options_from_collection_for_select(@deities, 'id', 'name', :selected => @character.deity_id) %>
<% raceoptions = options_from_collection_for_select(@races, 'id', 'name', :selected => @character.race_id) %>

<%= form_with(model: @character, url: yield(:url), local: true) do |form| %>

<% if @character.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:
  </h2>
    <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
</div>
<% end %>

<p>
  Character Name <%= form.text_field :name %>
</p><p>
  Pronouns <%= form.select :pronouns, [ 'He/Him', 'She/Her','They/Them' ] %>
</p><p>
  Race <%= form.select :race_id,  raceoptions %>
</p><p>
  Class <%= form.select :characterclass_id,  classoptions %>
</p><p>
  Deity <%= form.select :deity_id,  deityoptions, :include_blank => true  %>
</p><p>
    <%= form.submit 'Save Character' %>
    <%= link_to 'Cancel', yield(:backurl) %>
</p>
<% end %>