<%= bootstrap_form_with(model: @character, url: yield(:url), local: true) do |f| %>
<% if @character.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:
  </h2>
    <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
</div>
<% end %>
  <%= f.text_field :name, :required => true %>
  <%= f.select :pronouns, [ 'He/Him', 'She/Her','They/Them' ] %>
  
  <%= f.collection_select :race_id, Race.all, :id, :name %>
  <%= f.collection_select :characterclass_id, Characterclass.all, :id, :name %>
  <%= f.collection_select :deity_id, Deity.all, :id, :name, :include_blank => true %>
  <%= f.select :level,  [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ] %>
  <%= f.submit 'Save Character' %>
  <%= link_to 'Cancel', yield(:backurl) %>
</p>
<% end %>