<%= link_to 'Edit This Character', edit_admin_character_path(@character)%> <br>
<hr>
user: <%=  %>
<%= link_to @user.firstname + ' ' + @user.lastname, admin_user_path(@user)%>
<br>
Name: <%= @character.name %><br>
Pronouns: <%= @character.pronouns %><br>
Race: <%= @character.race.name %><br>
Class: <%= @character.characterclass.name %><br>
Deity: <%= if(@character.deity) then @character.deity.name end%><br>
House: <%= if(@character.house_id) then @character.house.name end%><br>
Guild: <%= if(@character.guild_id) then @character.guild.name end %><br>

<h1>Skills</h1>