<table class="table table-hover table-bordered table-sm">
<thead class="thead-dark">
<tr>
    <th>Name</th>
    <th>Group</th>
    <th>Rank</th>
    <th>Description</th>
    <th>Player Available</th>
</tr>
</thead>
<% @profession.all.each do |datarow| %>
<tr class="table-light">
    <td><%= datarow.name %></td>
    <td><%= datarow.professiongroup.name %></td>
    <td><%= datarow.rank %></td>
    <td><%= datarow.description %></td>
    <td><%= datarow.playeravailable %></td>
</tr>
<% end %>
</table>
