<%= bootstrap_form_for(Setting.new, url: admin_settings_path) do |f| %>
  <%= f.check_box :sheets_locked, checked: Setting.sheets_locked?, label: 'Lock Character Sheets' %>
  <%= f.check_box :one_level_per_game, checked: Setting.one_level_per_game?, label: 'Only Allow One Level/Profession after each leveling game' %>
  <%= f.check_box :sheets_auto_lock, checked: Setting.sheets_auto_lock?, label: 'Auto Lock Character Sheets' %>
  <%= f.text_field :sheets_auto_lock_day, value: Setting.sheets_auto_lock_day, label: 'Auto Lock Character Sheets after How Many Days?' %>
  <%= f.check_box :allow_global_reroll, checked: Setting.allow_global_reroll?, label: 'Allow anybody to edit their character name/class/race/etc' %>
  <div>
    <%= f.submit 'Update Settings' %>
  </div>
<% end %>