<%= bootstrap_form_for(Setting.new, url: admin_settings_path, local: true) do |f| %>
  <h4>Game Information</h4>
    <%= f.text_field :game_name, value: Setting.game_name, label: 'LARP Name', :required => true %>
  <hr>
  <h4>Locking Sheets</h4>
  <div class="row">
    <div class="col">
      <%= f.check_box :sheets_locked, checked: Setting.sheets_locked?, label: 'Lock Character Sheets' %>
      <%= f.check_box :sheets_auto_lock, checked: Setting.sheets_auto_lock?, label: 'Auto Lock Sheets' %>
    </div>
    <div class="col">
      <%= f.text_field :sheets_auto_lock_day, value: Setting.sheets_auto_lock_day, label: 'Auto lock character sheets after how many days?' %>
    </div>
  </div>

  <hr>
  <h4>Game Reset</h4>
    <%= f.check_box :allow_global_reroll, checked: Setting.allow_global_reroll?, label: 'Allow anybody to edit their character name/class/race' %>
    <%= f.check_box :one_level_per_game, checked: Setting.one_level_per_game?, label: 'Only allow one level/profession after each leveling game' %>
  <hr>
    <div>
      <%= f.submit 'Update Settings' %>
    </div>
<% end %>