<div class="modal-body" id="skillModalBody">
  <%= select_tag :skillgroup, options_for_select(@availablegroups) %>
  <%= bootstrap_form_for :characterskill, url: character_trainskill_path do |f| %>
    <%= f.select :skill_id,   grouped_options_for_select(@availableskills), hide_label: true %>
    <div id='favoredfoe'>
      <%= f.select :favoredfoe, options_for_select(@favoredfoes), label: 'Favored Foe' %>
    </div>
    <div id='alignmentfocus'>
      <%= f.select :alignmentfocus, [ 'Arcane', 'Air', 'Earth', 'Fire', 'Water', 'Wood', 'Spirit', 'Mind' ], label: 'Alignment Focus' %>
    </div>
    <hr>
    <div id='addskillmodalskilldetails'>
      <div class="row">
        <div class="col-8" id='skillnamecell'>
          <span id='modalskillname'>Skill Name</span>
        </div>
        <div class="col-4" id='skilltiercell'>
          <span id='modalskilltier'>Skill Tier</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span id='modalskillresttype'>Test Type</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div id='modalskilldelivery'>Delivery</div>
          <div id='modalskilltarget'>Target</div>
          <div id='modalskillprop'>Prop</div>
        </div>
      </div>
        <div class="row">
        <div class="col-12">
          
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span id='modalskilldescription'>Description</span>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>
</div>
 