<div class="modal-body">
<%= select_tag :skillgroup, options_for_select(@availablegroups) %>
  <%= bootstrap_form_with(model: @characterskill, url: player_character_characterskills_path(character_id: @character.id)) do |f| %>
    <%= f.hidden_field :character_id, value: @character.id  %>
    <%= f.select :skill_id,   grouped_options_for_select(@availableskills), hide_label: true %>
    <div id='favoredfoe'>
      <%= f.select :favoredfoe, options_for_select(@favoredfoes), label: 'Favored Foe' %>
    </div>
    <div id='alignmentfocus'>
      <%= f.select :alignmentfocus, [ 'Arcane', 'Air', 'Earth', 'Fire', 'Water', 'Wood', 'Spirit', 'Mind' ], label: 'Alignment Focus' %>
    </div>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>
</div>
 