<% provide(:url, admin_user_path(@user)) %>
<% provide(:backurl, admin_user_path(@user)) %>
<%= form_with(model: @user, url: yield(:url), local: true) do |form| %>

    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
      </h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
    <% end %>
    
    
    <p>
        First Name <%= form.text_field :firstname %>
    </p><p>
        Last Name <%= form.text_field :lastname %>
      </p><p>
        Email Address <%= form.text_field :email %>
    </p><p>
        User Type <%= form.select :usertype, [ 'Admin', 'Player','Cast' ], :prompt => 'User Type' %>
    </p><p>
        <%= form.submit 'Save' %>
        <%= link_to 'Cancel', yield(:backurl) %>
    </p>
    <% end %>