<div class="container col-11">
<div class="pagetitle">User List</div>
<div class="pagesubtitle" >A List of all Players and NPCs</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <strong>Total Members:</strong> <%= @users.all.count %>
    </div>
    <div class="col-sm">
      <strong>Member Breakdown:</strong> <%= @users.group(:usertype).count %>
    </div>

  </div>
</div>

<table class="table table-hover table-bordered table-sm">
 <thead class="thead-dark">
 <tr>
    <th>Name</th>
    <th>Email Address</th>
    <th>Type</th>
    <th class ="text-center">Edit</th>
</tr>
  </thead>

<% @users.all.order(:lastname).each do |user| %>


<tr class="table-light">
    <td>
    <%= link_to user.lastname + ', ' + user.firstname, admin_user_path(user) %></td>
    <td><%= user.email %></td>
    <td><%= user.usertype %></td>
    <td class ="text-center"> 
        <%= link_to edit_admin_user_path(user), remote: true do 
            fa_icon "edit"
        end
        %>
    </td>
</tr>
    
  <% end %>
  </table>

<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> 
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

  </div>