
First Name: <%= @user.firstname %><br>
Last Name: <%= @user.lastname %><br>
Email Address: <%= @user.email %><br>
Max Characters: <%= @user.charactercount %><br>
<%= link_to 'Edit This User', edit_admin_user_path(@user)%> <br>
<hr>
<h1>Characters</h1>
<hr>
<%= link_to 'Add Character', new_admin_user_character_path(@user) %>
<hr>
<table border = 1>
<tr>
    <th>Name</th>
    <th>Level</th>
    <th>Class</th>
    <th>Race</th>
    <th>Deity</th>
    <th>Status</th>
</tr>
<% @user.characters.each do |character| %>
    <tr>
      <td><%= link_to character.name, admin_user_character_path(user_id: character.user_id, id: character.id) %></td>
      <td><%= character.level %></td>
      <td><%= character.characterclass.name %></td>
      <td><%= character.race.name %></td>
      <td><%= if(character.deity) then character.deity.name end%></td>
      <td><%= character.status %></td>
    </tr>
  <% end %>

  </table>