<table border = 1>
<tr>
    <th>Name</th>
    <th>Count</th>
    <th>Tier</th>
    <th>Incant</th>
    <th>Description</th>
</tr>
<% @character.characterskills.select("skill_id, skills.tier, skills.name, max(acquiredate) as acquiredate").joins('INNER JOIN skills ON skills.id = characterskills.skill_id').group("skill_id, skills.tier, skills.name").order('tier, name asc').each do |characterskill| %>
    <tr>
      <td><%= characterskill.skill.name %></td>
      <td><%= @character.characterskills.select("skill_id").group("skill_id").count[characterskill.skill_id] %></td>
      <td><%= characterskill.skill.tier %></td>
      <td><%= characterskill.skill.skillgroup.name %></td>
      <td><%= characterskill.skill.description %> </td>
    </tr>
  <% end %>
  </table>