<div class="position-sticky pt-2">
  <% @character = Character.find_by(id: session[:character]) %>

  <div class='sideLink'>
    <%= link_to character_index_path do %>
      <div>
        <%= image_tag("leftmenu/profile.png") %>
        <span id='name'>
          <%= if !@character.alias.empty?
              @character.alias
            else
              @character.name.partition(" ").first 
            end %>
        </span>
      </div>
    <% end %>
  </div>

  <% if canEdit(@character) %>
    <div class='sideSubLink'>
      <%= link_to link_to 'Edit Character', edit_character_path(session[:character]) %>
    </div>
  <% end %>

  <% if canLevel(@character) %>
    <div class='sideSubLink'>
      <%= link_to link_to 'Level Up', character_levelup_path, data: { confirm: 'Leveling up will cost ' + expToLevel(@character).to_s + ' exp. This is irreversible. Are you sure?'}, method: :post, remote: true %>
    </div>
  <% end %>
  <% if canEdit(@character) %>
    <div class='sideSubLink'>
      <%= link_to link_to 'Train Skill', character_trainskill_path, remote: true %>
    </div>
  <% end %>

  <% if canBuyProfession(@character) %>
    <div class='sideSubLink'>
      <%= link_to link_to 'Learn Profession', character_learnprofession_path, remote: true %>
    </div>
  <% end %>







  <div class='sideLink'>
    <%= link_to character_index_path do %>
      <div>
        <%= image_tag("leftmenu/journal.png") %>
        Journal
      </div>
    <% end %>
  </div>
  <div class='sideLink'>
    <%= link_to character_index_path do %>
      <div>
        <%= image_tag("leftmenu/bank.png") %>
        Bank
      </div>
    <% end %>
  </div>
  <div class='sideLink'>
    <%= link_to character_events_path do %>
      <div>
        <%= image_tag("leftmenu/events.png") %>
        Events
      </div>
    <% end %>
  </div>
  <div class='sideLink'>
    <%= link_to character_index_path do %>
      <div>
        <%= image_tag("leftmenu/courier.png") %>
        Courier
      </div>
    <% end %>
  </div>
  <div class='sideLink'>
    <%= link_to character_index_path do %>
      <div>
        <%= image_tag("leftmenu/house.png") %>
        House
      </div>
    <% end %>
  </div>
  <div class='sideLink'>
    <%= link_to character_index_path do %>
      <div>
        <%= image_tag("leftmenu/guild.png") %>
        Guild
      </div>
    <% end %>
  </div>
    
</div>