<!DOCTYPE html>
<html>
  <head>
    <title><%= Setting.game_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'changecharacter' %>
    
    <script src="https://unpkg.com/@popperjs/core@2"></script>  

        <script src="https://unpkg.com/@popperjs/core@2"></script>  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
<%= favicon_link_tag asset_path('favicon.png') %>


  </head>

  <body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark p-0 shadow">
      <%= render 'layouts/topmenu' %>
    </nav>
    <div class="container-fluid", id='pageContent'>
      <div class="row">
        <% if session[:character] %>
          <nav class="col-2", id='sidebarMenu'>

            
            <%= render 'layouts/leftmenu' %>
          </nav>
          <main class="col-10", id='mainContent'>
            <%= yield %>
          </main>
        <% else %>
        
        <main class="col-12", id='mainContent'>
          <%= yield %>
        </main>
        <% end %>
      </div>
    </div>

 
    <% if session[:character] %>
      <%= render 'layouts/pagemodals' %>
    <% end %>

    <% if user_signed_in? && (current_user.characters.count > 0) %>
      <%= render partial: '/modals/changecharacter' %>
    <% end %>

  </body>
</html>