<!DOCTYPE html>
<html>
  <head>
    <title><%= Setting.game_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'changecharacter' %>
    <script src="https://unpkg.com/@popperjs/core@2"></script>  
  </head>

  <body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark p-0 shadow">
      <%= render 'layouts/topmenu' %>
    </nav>
    <div class="container-fluid", id='pageContent'>
      <div class="row">
        <% if session[:character] %>
          <nav class="col-2", id='sidebarMenu'>

            <div id = 'gamedate'>
              <%= Time.now.day %> day in <%= getGameMonth(Time.now.month) %><br>
              Year <%= Time.now.year - 1300 %>
            </div>
            <%= render 'layouts/leftmenu' %>
          </nav>
          <main class="col-10", id='mainContent'>
            <%= yield %>
          </main>
        <% else %>
        
        <main class="col-12", id='mainContent'>
          <%= yield %>
        </main>
        <% end %>
      </div>
    </div>

 
    <% if session[:character] %>
      <div class="modal fade" id="characterSkillModal" tabindex="-1" role="dialog" aria-labelledby="characterSkillModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="characterSkillModalLabel">Add Skill</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> 
            <div class="modal-body" id="skillModalBody"></div>
          </div>
        </div>
      </div>

    
      <div class="modal fade" id="characterProfessionModal" tabindex="-1" role="dialog" aria-labelledby="characterProfessionModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="characterProfessionModalLabel">Add Profession</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> 
            <div class="modal-body" id="professionModalBody" >
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <%= render partial: '/modals/changecharacter' %>
    <% end %>

  </body>
</html>