<!DOCTYPE html>
<html>
  <head>
    <title><%= Setting.game_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark p-0 shadow">
      <%= render 'layouts/topmenu' %>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <% if user_signed_in? %>
          <nav id="sidebarMenu" class="col-1 d-block bg-light sidebar collapse">
            <%= render 'layouts/leftmenu' %>
          </nav>
        <% end %>
        <main class="col-11">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
  
</html>